{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">
        <div class="about-sheltek-area ptb-115">
            <div class="container">
                <div class="row">
                    {% for section in page.sections %}
                        {{ section.content|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}