{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Produkty
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Produkty
                </li>
                <li>
                    <i class="fa fa-dashboard"></i> Rabaty
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Lista rabatów
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if list is empty %}
            <div class="item-list">
                <article>
                    <p>Brak rabatów</p>
                </article>
            </div>
        {% else %}
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <td>{{ knp_pagination_sortable(list, 'Id', 'r.id') }}</td>
                        <td>{{ knp_pagination_sortable(list, 'Wartość', 'r.rate') }}</td>
                        <td>{{ knp_pagination_sortable(list, 'Użytkownicy', 'u.firstName') }}</td>
                        <td>{{ knp_pagination_sortable(list, 'E-mail', 'u.email') }}</td>
                        <td>{{ knp_pagination_sortable(list, 'Kategorie', 'c.name') }}</td>
                        <td>Akcja</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.rate }}%</td>
                            <td>{{ item.user.firstName ~ ' ' ~ item.user.lastName }}</td>
                            <td>{{ item.user.email }}</td>
                            <td>{{ item.productCategory.name }}</td>
                            <td>
                                <a href="{{ path('admin_rabate_edit', {'id': item.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_rabate_delete', {'id': item.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(list, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock content %}