<div id="cookie-notice">
    <span class="dismiss">&times;</span>
    Ta strona używa <strong>cookie</strong>. 
    Korzystając z&nbsp;niej wyrażasz zgodę na ich używanie, 
    zgodnie z&nbsp;aktualnymi <strong>ustawieniami przeglądarki</strong>.
</div>