
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/bootstrap.min.css') }}">
<!-- nivo slider CSS -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/lib/css/nivo-slider.css') }}"/>
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/core.css')}}">
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/shortcode/shortcodes.css') }}">
<!-- Theme main style -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/style.css') }}">
<!-- Responsive css -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/responsive.css') }}">
<!-- Template color css -->
<link data-style="styles" rel="stylesheet" href="{{ asset('bundles/miuzepage/css/color/color-core.css') }}" >
<!-- User style -->
<link rel="stylesheet" href="{{ asset('bundles/miuzepage/css/custom.css') }}">