<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="index, follow">
<link rel="icon" href="{{ asset('/bundles/miuzepage/gfx/favicon.ico')}}" type="shortcut icon">
<meta name="viewport" content="width=device-width, initial-scale=1">        
<meta name="author" content="Miuze Creative Team">