{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container promotion">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
            {% if category is not empty %}
                {% for post in category[0].promotion %}
                    <div class="col-md-4 item-promotion" data-href="{{ path('promotion_read', {'pageid': page.id, 'id': post.id, 'title': post.urlTitle} ) }}">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if post.image is not empty %}
                                <div class="image">
                                    <img src="{{ post.path }}{{ post.image }}" alt="{{ post.name }}" />
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-promotion">
                            <div class="price">
                                <div class="old">
                                    <p>
                                        Stara cena:
                                        {{ post.oldPrice }} zł
                                    </p>
                                </div>
                                <div class="new">
                                    <p>
                                        Cena:
                                        {{ post.newPrice }} zł
                                    </p>
                                </div>
                            </div>
                            <div class="title-promotion">
                                <p>{{ post.name }}</p>
                            </div>
                            <div class="description-promotion">
                                {{ post.lead |raw }}
                            </div>
                            {% if post.endDate is not null %}
                                <div class="endDate">
                                    <p> Promocja ważna do <br> {{ post.endDate | date('d-m-Y')}}r.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else%} 
                <div class="alert alert-info">Brak promocji</div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}