{% extends "@MiuzePage/common/content.html.twig" %}

{% block pageTitle %}
    {{ parent()}} |{{ promotion.name}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ promotion.name |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ promotion.path }}{{ promotion.image }}" />
{% endblock ogg %} 
{% block content %}
    
    <div class="container promotion-read">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="image">
                <img src="{{ promotion.path }}{{ promotion.image}}" />
                    <div class="title">
                    <p>
                        <span>
                            {{ promotion.name |raw }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
            <div class="info">
                <div class="old">
                    <p>
                        Stara cena:
                        {{ promotion.oldPrice }} zł
                    </p>
                </div>
                <div class="new">
                    <p> 
                        Cena promocyjna:
                        {{ promotion.newPrice }} zł
                    </p>
                </div>
                {% if promotion.endDate is not null %}
                <time datetime="{{ promotion.endDate | date('d/m/Y')}}">Oferta ważna do <br>{{ promotion.endDate | date('d/m/Y')}}</time>
                {% endif %}
            </div>
            <div class="read">
                {{ promotion.content |raw }}
            </div>
                <a href="{{ path('promotion', {'pageid': page.id, 'title': page.seoUrl }) }}" class="back-link" title="Powrót do listy">
                    <span class="glyphicon glyphicon-th"></span>
                   <br>Powrót do listy
                </a>
        </div>
    </div>
{% endblock content %}