{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Topy
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-bookmark"></i> Topy
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj top
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 

        </div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form) }}     
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">                                      
                <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form_label(form.gallerypage) }}
                    {{ form_widget(form.gallerypage) }}
                    {{ form_errors(form.gallerypage) }}
                </div>   
                <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form_widget(form.submit) }}
                </div>  
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}