{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.subTitle}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="cart-section" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{ page.slug.name|raw }} {{ page.subTitle }}</h1>
                {% if cart is not empty %}
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Nazwa produktu</th>
                                <th style="text-align:center">Ilość</th>
                                <th>Cena za sztukę</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in cart %}
                                <tr id="product-{{ loop.index0 }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ order.product.name is empty or order.product.name is null ? 'brak danych' : order.product.name }}</td>
                                    <td>
                                        <a class="quantity-minus" data-key="{{ loop.index0 }}" href="{{ path('cart_quantity_minus', {'key': loop.index0 }) }}"><i class="fa fa-minus"></i></a>
                                        <span style="margin: 0px 15px;" class="quantity" data-key="{{ loop.index0 }}">{{ order.quantity | number_format(0) }}</span>
                                        <a class="quantity-plus" data-key="{{ loop.index0 }}" href="{{ path('cart_quantity_plus', {'key': loop.index0 }) }}"><i class="fa fa-plus"></i></a>
                                    </td>
                                    <td>{{  order.product.calcVat(app.user) | number_format(2, '.', ' ') }} zł</td>
                                    <td><a class="btn-costom" href="{{ path('cart_delete_item', {'id': loop.index0, 'pageid': page.id, 'title': page.seoUrl }) }}">Usuń z koszyka</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-right">
                                <a href="{{ path('cart_user',{'pageid':page.id, 'title': page.seoUrl }) }}" title="Wprowadź swoje dane" class="btn-0 btn-costom">Wprowadź swoje dane</a>
                            <a class="btn-0" href="{{ path('cart_delete_all', {'pageid': page.id, 'title': page.seoUrl }) }}" title="Anuluj zmówienie" class="btn-costom" style="margin-top:20px;">Anuluj zamówienie</a>
                        </div>

                    </div>
                {% else %}
                    <div class="row">
                        <div class="alert alert-warning" style="text-align: center;">Brak produktów w koszyku</div>
                    </div>
                {% endif %}
            </div>
        </div>
        
    </section>
{% endblock content %}