{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="user-cart-section" class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if app.session.flashbag.peekAll()|length %}
                <div class="site-message alert">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for msg in messages%}
                            <div class="alert alert-{{ type }}">{{ msg }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="panel panel-success">
                <div class="panel-heading">Dziękujemy za dokananie płatności</div>
                <div class="panel-body">
                    <p>Dziękujemy za wybranie naszej firmy.</p>
                    <p>
                        Na państwa email zostało wysłane potwierdzenie zakupu.
                    </p>
                    <p>
                        {% if buyer.status == 'success' %}
                        Zlecenie zotało przekazane do realizacji.
                        {% else %}
                            Oczekiwanie na potwierdzenie tranzakcji
                        {% endif %}
                    </p>
                    <p><br/>Pozdrawia<br>Zespół Żal-Color</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}