{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.subTitle}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="user-cart-section" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{ page.slug.name|raw }} Podsumowanie</h1>
                <div class="row">
                    <table class="table table-hover table-responsive">
                        <tbody>
                            <tr>
                                <th>Imię i nazwisko</th>
                                <td>{{ order.buyer.firstName ~ ' ' ~ order.buyer.lastName}}</td>
                            </tr>
                            <tr>
                                <th>Adres wysyłki</th>
                                <td>{{ order.buyer.postCode ~ ' ' ~ order.buyer.city}}, {{ order.buyer.street ~ ' ' ~ order.buyer.homeNumber }}</td>
                            </tr>
                            <tr>
                                <th>Dane kontaktowe</th>
                                <td>{{ order.buyer.email is not null ? 'Email: '~ order.buyer.email : '' }}, {{ order.buyer.phone is not null ? 'Telefon: '~order.buyer.phone : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th colspan="2">Zamówione przedmioty:</th>
                            </tr>
                            <tr>
                                <th>Nazwa produktu</th>
                                <th>Ilość</th>
                                <th>Cena z VAT za 1 szt.</th>
                                <th>Suma</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.carts %}
                                {% set sum = item.quantity * item.product.calcVat(app.user) %}
                                <tr>
                                    <td><a href="{{ path('product_read', {'pageid': item.product.category.page[0].id, 'id': item.product.id, 'title': item.product.urlTitle } ) }}" target="_blank">{{ item.product.name }}</a></td>
                                    <td>{{ item.quantity }} szt.</td>
                                    <td>{{ item.product.calcVat(app.user) |number_format(2, '.', ' ') }} zł</td>
                                    <td>{{ sum |number_format(2, '.', ' ') }} zł</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>{{ order.travel.name }}</td>
                                <td></td>
                                <td>{{ order.travel.price |number_format(2, '.', ' ')}} zł</td>
                                <td>{{ order.travel.price |number_format(2, '.', ' ')}} zł</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Suma:</th>
                                <th></th>
                                <th>{{  order.price |number_format(2, '.', ' ')}} zł</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-right">
                            <a href="{{ path('cart_pay')}}" class="btn-0" style="display:block;" title="Zapłać">Przejdź do płatności</a>
                            <a href="{{ path('cart_delete_order', {'pageid': page.id, 'title': page.seoUrl }) }}" class="btn-delete" style="margin-top: 20px; display:block;">Anuluj zamówienie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}