{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.subTitle}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="travel-cart-section" class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>{{ page.slug.name |raw }} Sposób dostawy</h1>
            <div class="raw">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}   
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">   
                    {{ form_label(form.travel) }}
                    {{ form_widget(form.travel) }}
                    {{ form_errors(form.travel) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            {{ form_end(form)}}
            </div>
        </div>
    </section>
{% endblock content %}