{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.subTitle}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="user-cart-section" class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>{{ page.slug.name|raw }} Uzupełnij dane</h1>
            <div class="raw">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}   
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">   
                    {{ form_label(form.firstName) }}                                         
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.lastName) }}                                         
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.city) }}                                         
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.postCode) }}                                         
                    {{ form_widget(form.postCode) }}
                    {{ form_errors(form.postCode) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.street) }}                                         
                    {{ form_widget(form.street) }}
                    {{ form_errors(form.street) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.homeNumber) }}                                         
                    {{ form_widget(form.homeNumber) }}
                    {{ form_errors(form.homeNumber) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.clientEmail) }}
                    {{ form_widget(form.clientEmail) }}
                    {{ form_errors(form.clientEmail) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    {{ form_label(form.phone) }}                                         
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form_label(form.acceptRegulations) }}
                    {{ form_widget(form.acceptRegulations) }}
                    {{ form_errors(form.acceptRegulations) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <a href="{{ path('cart_delete_all', {'pageid': page.id, 'title': page.seoUrl }) }}" class="btn-delete">Anuluj zamówienie</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            {{ form_end(form)}}
            </div>
        </div>
    </section>
{% endblock content %}