{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{  parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">
        {% for section in page.sections %}
{#            {{ render_content(section.content) }}#}
            {{ section.content|raw }}
        {% endfor %}
        {{ render_newsletter() }}
    </section>
{% endblock content %}
{% block js %}
    {{ parent() }}
{% endblock js %}