{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section class="section-lg bg-white text-center default-list">
        <div class="shell">
            <div class="range range-50 range-sm-center range-md-middle range-lg-justify">
                {{ page.content |raw }}
            </div>
        </div>
    </section>
{% endblock content %}