{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">

        <!-- BLOG AREA START -->
        <div class="blog-area pt-115 pb-60">
            <div class="container">
                <div class="row">
                    {% if pagination is empty %}
                        <h4>Brak wpisów</h4>
                    {% else %}
                        {% for item in pagination %}
                            <!-- blog-item -->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <article class="blog-item bg-gray">
                                    <div class="blog-image">
                                        <a href="{{ path('blog_read', {'id': item.id, 'pageid': page.id, 'title': item.urlTitle }) }}">
                                            <img src="{{ item.path ~ item.image }}" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <div class="post-title-time">
                                            <h5>
                                                <a href="{{ path('blog_read', {'id': item.id, 'pageid': page.id, 'title': item.urlTitle }) }}">
                                                    {{ item.title }}
                                                </a>
                                            </h5>
                                            <p>{{ item.startDate |date('d-m-Y') }}</p>
                                        </div>
                                        {{ item.lead |raw }}
                                        <a class="read-more" href="{{ path('blog_read', {'id': item.id, 'pageid': page.id, 'title': item.urlTitle }) }}">Czytaj wpis</a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                        <!-- pagination-area -->
                        <div class="col-xs-12">
                            {{ knp_pagination_render(pagination, '@MiuzeAdmin/Pagination/miuze_pagination.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- BLOG AREA END -->
    </div>

{% endblock content %}