{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ blog.title |raw}} | {{ parent()}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ blog.title |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ blog.path }}{{ blog.image }}" />
{% endblock ogg %}

{% block content %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- BLOG AREA START -->
        <div class="blog-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="blog-details-area">
                            <!-- blog-details-image -->
                            <div class="blog-details-image">
                                <img src="{{ blog.path ~ blog.image }}" alt="{{ blog.title }}">
                            </div>
                            <!-- blog-details-title-time -->
                            <div class="blog-details-title-time">
                                <h5>{{ blog.title |raw }}</h5>
                                <p>{{ blog.startDate |date('d-m-Y') }}</p>
                            </div>
                            <!-- blog-details-desctiption -->
                            <div class="blog-details-desctiption mb-60">
                                {{ blog.content |raw }}
                            </div>
                            <!-- blog-details-share-tags -->
                            <div class="blog-details-share-tags clearfix mb-75">
                                <div class="blog-details-tags f-left">
                                    {% if blog.tag is not null %}
                                        <ul>
                                            <li>Tags :</li>
                                            {% set tags = blog_split_tag(blog.tag) %}
                                            {% for key, tag in tags %}
                                                <li><a href="#{{ key }}">{{ tag }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="blog-details-share f-right">
                                    <ul class="social-media">
                                        <li>Udostepnij:</li>
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url('blod_read', {'id': blog.id, 'pageid': page.id, 'title': page.seoUrl}) }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/home?status={{ absolute_url('blod_read', {'id': blog.id, 'pageid': page.id, 'title': page.seoUrl}) }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://plus.google.com/share?url={{ absolute_url('blod_read', {'id': blog.id, 'pageid': page.id, 'title': page.seoUrl}) }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- blog-details-author-post -->
                            <div class="blog-details-author-post clearfix line-bottom pb-30 mb-115">
                                <div class="blog-details-author-image">
                                    <a href="agent-details.html"><img src="{{ blog.user.path ~ blog.user.avatar }}" alt=""></a>
                                </div>
                                <div class="blog-details-author-desc">
                                    <div class="blog-details-author-name">
                                        <h6><a href="agent-details.html">{{ blog.user.firstName ~' '~blog.user.lastName }}</a></h6>
                                        <p class="">Autor</p>
                                    </div>
                                    {{ blog.user.lead |raw }}
                                </div>
                            </div>
                            <!-- pro-details-feedback -->
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        {#<!-- widget-categories -->#}
                        {#<aside class="widget widget-categories mb-50">#}
                            {#<h5>Categories</h5>#}
                            {#<ul class="widget-categories-list">#}
                                {#<li><a href="#">Apartment <span>1420</span></a></li>#}
                                {#<li><a href="#">Apartment Building <span>780</span></a></li>#}
                                {#<li><a href="#">Bungalow <span>670</span></a></li>#}
                                {#<li><a href="#">Corporate House <span>520</span></a></li>#}
                                {#<li><a href="#">Duplex Villa <span>350</span></a></li>#}
                            {#</ul>#}
                        {#</aside>#}
                        <!-- widget-recent-post -->
                        <aside class="widget widget-recent-post mb-50">
                            <h5>Ostatnio dodane posty</h5>
                            <div class="row">
{#                                {{ blog_get_last_post(page, 5, 'sidebar_post.html.twig') }}#}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLOG AREA END -->
        {{ render_newsletter() }}
    </section>

{% endblock content %}