{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Mieszkania
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-shopping-cart"></i> Mieszkania
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj mieszkanie
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-md-9 col-lg-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Opcje mieszkania
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="col-xs-12 col-md-12">
                                {{ form_label(form.lead) }}
                                {{ form_widget(form.lead) }}
                                {{ form_errors(form.lead) }}
                                <a href="!#" class="render-editor btn btn-info" data-toggle="#{{ form.lead.vars["id"] }}">Załącz edytor</a>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                                {{ form_errors(form.content) }}
                                <a href="!#" class="render-editor btn btn-info" data-toggle="#{{ form.content.vars["id"] }}">Załącz edytor</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Szczegóły
                    </div>
                    <div class="panel-body">
                        {{ form_label(form.build) }}
                        {{ form_widget(form.build) }}
                        {{ form_errors(form.build) }}
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                        {{ form_errors(form.price) }}
                        {{ form_label(form.isStock) }}
                        {{ form_widget(form.isStock) }}
                        {{ form_errors(form.isStock) }}
                        {{ form_label(form.garage) }}
                        {{ form_widget(form.garage) }}
                        {{ form_errors(form.garage) }}
                        {{ form_label(form.bathroom) }}
                        {{ form_widget(form.bathroom) }}
                        {{ form_errors(form.bathroom) }}
                        {{ form_label(form.room) }}
                        {{ form_widget(form.room) }}
                        {{ form_errors(form.room) }}
                        {{ form_label(form.area) }}
                        {{ form_widget(form.area) }}
                        {{ form_errors(form.area) }}
                        {{ form_label(form.cords) }}
                        {{ form_widget(form.cords) }}
                        {{ form_errors(form.cords) }}
                    </div>
                    <div class="panel-footer">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}