/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-10, 20:14:22
    Author     : Kamil
*/

.page-header{
    margin-top: 10px;
}
.pageView {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #ddd;
  padding-top: 10px;
  clear: both;
}
.pageView li {
  min-height: 74px;
  position: relative;
}
.pageView li > a {
  float: left;
  display: block;
  width: 40px;
  position: absolute;
  top: -10px;
  left: -40px;
  height: 100%;
}
.pageView li > div {
  float: left;
  width: 98%;
  padding: 0.5%;
  background: #f6f6f6;
  overflow: auto;
  border: 1px solid #d5d5d5;
}
.pageView li > div > div {
  float: right;
}
.pageView li > div > div:first-child {
  float: left;
}
.pageView li h3 {
  font-size: 0.9em;
  margin: 0;
}
.pageView li h3.nmColor {
  color: #1d1d1d;
}
.pageView li h3 a {
  color: #1d1d1d;
}
.pageView li h3 a:hover {
  color: #ed1b2f;
}
.pageView li h3 .redirectEditLink {
  font-size: 90%;
  font-weight: normal;
}
.pageActions > div {
  float: left;
  overflow: auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  padding: 0.2em;
  margin-top: 5px;
}
.pageActions > div:first-child {
  border-left: 0;
}
.pageActions > div.last {
  border-right: 0;
}
.pageActions a {
  color: #c4c4c4;
}
.pageActions a:hover {
  color: #909090;
}
.sortPlaceholder {
  display: block;
  border: 1px dashed #ddd;
}
.pageButtons {
  margin-top: 13px;
}
.treeNode {
  background: url('../gfx/treeNode.jpg') right 37px no-repeat;
  position: relative;
}
.treeNode span[class^='icon-'] {
  padding: 0;
  margin-top: 28px;
  margin-left: 10px;
  display: block;
  background: #fff;
  font-size: 0.8em;
  border: 1px solid #d5d5d5;
  position: relative;
  z-index: 2;
}
.treeNode.last .cover {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 46px;
  width: 40px;
  background: #fff;
  z-index: 1;
}
.sortables {
  list-style: none;
}
article{
    a{
        &.fa, .fa{
            font-size: 1.2em;
            .transition(.2s);
            color: #5a5a5a;
            padding-right: 10px;
            &:hover{
                color: #12b6ec;
            }
            &.active{
                color: #3fdd20;
            }
            &.disable{
                color: #e43939;
            }
            &.fa-trash{
                color: @red;
            }
        }
    }
}
select[multiple="multiple"]{
  height: 200px;
}