{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container download-list">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Operacja</th>
                </thead>
                <tbody>
                    {% set ext = {
                        'jpg' : 'fa fa-file-image-o',
                        'jpeg' : 'fa fa-file-image-o',
                        'pdf' : 'fa fa-file-pdf-o',
                        'zip' : 'fa fa-file-archive-o',
                        'rar' : 'fa fa-file-archive-o',
                        'doc' : 'fa fa-file-word-o',
                        'docx': 'fa fa-file-word-o',
                        'odt' : 'fa fa-file-word-o'
                    }%}
                    {% if category is not empty %}
                        {% for cat in category %}
                            {% if cat.file is empty %}
                                <tr>
                                    <td colspan="3">Brak plików w kategorii {{ cat.title }}</td>
                                </tr>
                            {% else %}
                                {% for item in cat.file %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.title }}</td>
                                        <td style="max-width: 40px; text-align: center;"><i class="{{ ext[ item.image | get_ext ]}}"></i></td>
                                        <td><a class="btn-costom" href="{{ item.path ~ item.image }}" target="_blank">POBIERZ</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Brak plików</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
        
    
{% endblock content %}