{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
{% endblock ogg %} 
{% block content %}
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 bg-white m-top-15">
            <div class="menu-left accordion">
                {% if category is not empty %}
                    {% for cat in category %}
                        <h3>{{ cat.title }}</h3>
                        {% if cat.adCategory is not empty %}
                            <div>
                                <ul class="category">
                                    {% for offer in cat.adCategory %}
                                        <li>{{ offer.title }}</li>
                                        {% if offer.ad is not empty %}
                                            <ul>
                                                {% for ad in offer.ad %}
                                                    <li><a href="{{ path('ad_read', {'pageid': page.id, 'id': ad.id, 'title': ad.urlTitle }) }}" title="{{ ad.title }}">{{ ad.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <li>Brak plików</li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div>
                                <ul class="cat-downnload">
                                    {% if cat.download is not empty %}
                                        {% for dow in cat.download %}
                                            <li><a href="{{ path('download_read', {'pageid': page.id, 'id':dow.id, 'title': dow.urlTitle } ) }}" title="{{ dow.title }}">{{ dow.title }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        <li>Brak informacji</li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Brak kategorii</p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="download-list">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 bip">
                    <h3>{{ item.title }}</h3>
                    <div class="file-content">
                        {{ item.content |raw }}
                        {% if item.file is not empty %}
                            <ul class="file-li">
                            {% for file in item.file %}
                                <li data-open="{{ file.path }}/{{ file.image }}">
                                    <a href="{{ file.path }}/{{ file.image }}" target="_blank" title="{{ file.title }}">
                                        {{ file.title}}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>Brak plików</p>
                        {% endif %}
                    </div>        
                </div>
            </div>
        </div>
    
{% endblock content %}