{% if entity.image is not null %}
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="thumbnail">
            <img src="{{ entity.path ~ entity.image }}" style="height: auto; width: 100%; display: block;">
        </a>
    </div>
</div>
{% endif %}