{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-content">
        <div class="row">
            <div>
                {{ page.content |raw }}
            </div>
            <div id="map" class="map"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-content">
        <div class="row">
            <div>
                {{ page.contentTop |raw }}
            </div>
            <div id="map1" class="map"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-form">
            <div>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for msg in messages%}
                        <div class="alert alert-{{ type }}">{{ msg }}</div>
                    {% endfor %}
                {% endfor %}
                <h1>Skontaktuj się z nami</h1>
                {% form_theme contactform 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(contactform, {'attr': {'novalidate': 'novalidate'} }) }} 
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(contactform.title) }}
                        {{ form_widget(contactform.title) }}
                        {{ form_errors(contactform.title) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(contactform.email) }}
                        {{ form_widget(contactform.email) }}
                        {{ form_errors(contactform.email) }}                           
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{ form_label(contactform.content) }}
                        {{ form_widget(contactform.content) }}
                        {{ form_errors(contactform.content) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clear-fix">
                        {{ form_widget(contactform.submit) }}  
                    </div>
                {{ form_end(contactform)}}
            </div>
        </div>
    </div>
{% endblock content %}