{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cv-content">
        <div class="row">
            <div>
                {{ page.content |raw }}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cv-content">
        <div class="row">
            <div>
                {{ page.contentTop |raw }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cv-form">
            <div>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for msg in messages%}
                        <div class="alert alert-{{ type }}">{{ msg }}</div>
                    {% endfor %}
                {% endfor %}
                <h1 class="title upper underline">Wyślij zestawienie materiałów</h1>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }} 
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}                           
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}                           
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                        {{ form_errors(form.content) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{ form_label(form.file) }}
                        {{ form_widget(form.file) }}
                        {{ form_errors(form.file) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clear-fix">
                        {{ form_widget(form.submit) }}  
                    </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
{% endblock content %}