
{% for type, messages in app.session.flashbag.all() %}
    {% for msg in messages%}
        <div class="alert alert-{{ type }}">{{ msg }}</div>
    {% endfor %}
{% endfor %}
<div id="msgAjax"></div>
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }} 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}                           
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form_label(form.captcha) }}
        {{ form_widget(form.captcha) }}
        {{ form_errors(form.captcha) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clear-fix">
        {{ form_widget(form.submit) }}  
	<p style="font-size: .7em;text-align:center;">Administratorem danych osobowych jest CU Lumenise Katarzyna Sado, 44-251 Rybnik, ul. Buchalików 91B/8 . Dane wpisane w formularzu kontaktowym będą przetwarzane w celu udzielenia odpowiedzi na przesłane zapytanie zgodnie z <a href="https://naszemieszkanie.com/pl/17,polityka-prywatnosci.html" target="_blank">regulaminem.</a></p>
    </div>
{{ form_end(form)}}
        
