{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">

        <!-- CONTACT AREA START -->
        <div class="contact-area pt-115 pb-115">
            <div class="container">
                <div class="row">
                    {% for section in page.sections %}
                        {{ section.content|raw }}
                    {% endfor %}
                    <div class="col-sm-7 col-xs-12">
                        <div class="contact-messge contact-bg">
                            <!-- blog-details-reply -->
                            <div class="leave-review">
                                <h5>Zostaw wiadomość</h5>
                                {#{% form_theme contactform 'bootstrap_3_layout.html.twig' %}#}
                                {{ form_start(contactform, {'attr': {'novalidate': 'novalidate'} }) }}
                                    {{ form_widget(contactform.title) }}
                                    {{ form_errors(contactform.title) }}
                                    {{ form_widget(contactform.email) }}
                                    {{ form_errors(contactform.email) }}
                                    {{ form_widget(contactform.content) }}
                                    {{ form_errors(contactform.content) }}
                                    {{ form_widget(contactform.captcha) }}
                                    {{ form_errors(contactform.captcha) }}
                                    {{ form_widget(contactform.submit) }}
					<p style="font-size: .7em; text-align:center;">Administratorem danych osobowych jest CU Lumenise Katarzyna Sado, 44-251 Rybnik, ul. Buchalików 91B/8 . Dane wpisane w formularzu kontaktowym będą przetwarzane w celu udzielenia odpowiedzi na przesłane zapytanie zgodnie z <a href="https://naszemieszkanie.com/pl/17,polityka-prywatnosci.html" target="_blank">regulaminem.</a></p> 
                                {{ form_end(contactform)}}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for msg in messages%}
                                        <p class="form-messege mb-0">{{ msg }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="google-map-area">
            <div id="googleMap"></div>
        </div>

    </section>

{% endblock content %}

{% block js %}
    {{ parent() }}
{% endblock js%}
