{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-content">
       
    </div>
{% endblock content %}