{# empty Twig template #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'attr': {'class': 'product-search-form', 'novalidate': 'novalidate'} } ) }}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                {{ form_widget(form.submit) }}
        </div>
{{ form_end(form) }}