{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block bodyClass %}products-page{% endblock %}
{% block content %}
    
    <section id="product-section" class="container-fluid">
        <div class="row">
            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 product-list no-padding">
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}" title="Strona główna">Strona główna</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl }) }}" title="{{ page.slug.name }}">{{ page.slug.name }}</a></li>
                        {% if breadcrumbs is not empty %}
                            {% for item in breadcrumbs%}
                                <li class="breadcrumb-item "><a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl, 'cat': item.id }) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
                {% if pagination is empty %}
                        <div class="alert alert-warning">Brak produktów w tej kategorii</div>
                {% else %}
                    {% for product in pagination %}
                        {{  renderProductItem(product, 'col-xs-12 col-sm-6 col-md-3 col-lg-3', page)  }}
                    {% endfor %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{ knp_pagination_render(pagination, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}