{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ product.name ~' | '~  parent()}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ product.name |raw }}" />
    <meta property="og:description" content="{{ product.name |raw }}" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ product.path }}{{ product.image }}" />
{% endblock ogg %}

{% block bodyClass %}products-page{% endblock %}
{% block content %}
    <section id="product-section" class="container-fluid product-read">
        <div class="row">
            <div class="col-sx-12 col-sm-12 col-mg-12 col-lg-12 product-list">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}" title="Strona główna">Strona główna</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl }) }}" title="{{ page.slug.name }}">{{ page.slug.name }}</a></li>
                        {% if breadcrumbs is not empty %}
                            {% for item in breadcrumbs%}
                                <li class="breadcrumb-item "><a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl, 'cat': item.id }) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                            {% endfor %}
                            <li class="breadcrumb-item">{{ product.name }}</li>
                        {% endif %}
                    </ol>
                </div>
                {% if product.photo is not empty %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for photo in product.photo %}
                                        <div class="swiper-slide" style="background-image:url('{{ photo.path ~ photo.image }}')"></div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row margin-bottom-50">
                    <div class="col-xs-12 col-sm-6 col.md-6 col-lg-6 product-price">
                        <h1 class="title">{{ product.name }}</h1>
                        <hr/>
                        {% if product.priceOnLogin == true  and app.user == null %}
                            <div class="price">
                                <p>Cena dostepna po  zalogowaniu</p>
                            </div>
                        {% else %}
                            {% if product.price is not null %}
                                {% if product.promoPrice is null %}
                                    <p><span>Cena: {{ product.calcVat(app.user) | number_format(2, '.', ' ') }} zł brutto</span></p>
                                {% else %}
                                    <p><span>Cena promocyjna: {{ product.calcVat(app.user) | number_format(2, '.', ' ') }} zł brutto</span></p>
                                {% endif %}
                            {% else %}
                                <div class="price">
                                    <p>Wycena indywidualna</p>
                                </div>
                                <a class="btn btn-more" href="{{ path('contact', {'id': product.id, 'pageid': 11, 'title': 'kontakt'}) }}">Wyślij zapytanie</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col.md-6 col-lg-6 product-cart">
                        {% if product.price is not null and (product.priceOnLogin == false and app.user is not null) %}
                            <h3 class="title text-center">Koszyk</h3>
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for msg in messages%}
                                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                                {% endfor %}
                            {% endfor %}
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                                {{ form_label(form.quantity) }}
                                {{ form_widget(form.quantity) }}
                                {{ form_errors(form.quantity) }}
                                {{ form_widget(form.submit) }}
                            {{ form_end(form)}}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <ul  class="nav nav-pills">
                        <li class="active">
                            <a  href="#caption" data-toggle="tab">Opis produktu</a>
                        </li>
                        <li>
                            <a href="#details" data-toggle="tab">Dane techniczne</a>
                        </li>
                        {#<li>#}
                            {#<a href="#download" data-toggle="tab">Pliki do pobrania</a>#}
                        {#</li>#}
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane fade in active" id="caption">
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{ product.content |raw }}
                            </article>
                        </div>
                        <div class="tab-pane fade" id="details">
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    {{ product.details |raw }}
                                </div>
                            </article>
                        </div>
                        {#<div class="tab-pane fade" id="download">#}
                            {#<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                                {#<h3>Do pobrania</h3>#}
                            {#</article>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="more-cat">
        <div class="container-fluid">
            <div class="section-pd-100">
                <article>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <h3 class="title underline">Więcej z kategorii</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            {% if app.request.getLocale() == 'pl' %}
                                {% set pproduct = 3 %}
                            {% else %}
                                {% set pproduct = 8 %}
                            {% endif %}
                            {% set carsList = get_last_product_cat(catId, 4) %}
                            {% for product in carsList %}
                                {{  renderProductItem(product, 'col-xs-12 col-sm-6 col-md-3 col-lg-3', page)  }}
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    
{% endblock content %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/miuzepage/js/swiper.min.js') }}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        });
    </script>
{% endblock js %}