{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.subTitle}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    
    <section id="product-section" class="container-fluid">
        <div class="row">
            <div class="col-sx-12 col-sm-8 col-md-12 col-lg-12 product-list no-padding">
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}" title="Strona główna">Strona główna</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('product_search') }}" title="Szukaj">Szukaj : {{ query }}</a></li>
                    </ol>
                </div>
                {% if pagination is empty %}
                        <div class="alert alert-warning">Nie znaleziono produktów dla danej frazy: {{ query }} </div>
                {% else %}
                    {% for product in pagination %}
                        {{  renderProductItem(product, 'col-xs-12 col-sm-6 col-md-3 col-lg-3', product.category.page[0])  }}
                    {% endfor %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div id="msgAjax"></div>
{% endblock content %}