{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
<div class="index-realization">
    <section id="gallery-section">
        <!-- gallery : content -->
        <div class="gallery-grid clearfix">
            {% if category is not empty %}
                {% for cat in category %}
                    {% for post in cat.realization %}
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gallery-tile" data-href="{{ path('realization_read', {'pageid': page.id, 'id': post.id, 'title': post.seoTitle}) }}">
                            {% if post.image is not null %}  
                                <img src="{{ post.path ~ post.image }}" alt="{{ post.title }}">
                            {% endif %}
                            <div class="lead">
                                <div class="flex">
                                    <div>
                                        <p class="title">
                                            {{ post.title }}
                                        </p>
                                        <i class="fa fa-eye" data-aria="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}