{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name ~ '-' ~realization.title ~ ' | '~ parent()}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ realization.title |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ realization.path }}{{ realization.image }}" />
{% endblock ogg %} 
{% block content %}
    <div class="realization-content container">
        <div class="realization-read">
            <div id="wrapper">
                <div class="lead">
                    {{ realization.content |raw }}
                </div>
                <h3>{{ realization.title }}</h3>
                {% if realization.gallery is not empty %}
                    <div id="carousel-wrapper">
                        <div id="carousel">
                            {% for photo in realization.gallery %}
                                <span id="p{{ photo.id }}"><img src="{{ photo.path ~ photo.image }}" /></span>
                            {% endfor %}
                        </div>
                        <a id="prevt" href="#"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
                        <a id="nextt" href="#"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                    </div>
                    <div id="thumbs-wrapper">
                        <div id="thumbs">
                            {% for photo in realization.gallery %}
                            <a href="#p{{ photo.id }}"><img src="{{ photo.path ~ photo.image }}" /></a>
                            {% endfor %}
                        </div>
                        <a id="prev" href="#"></a>
                        <a id="next" href="#"></a>
                    </div>
                {% else %}
                    <div class="alert">
                        <div class="alert alert-info">Brak zdjęć w realizacji</div>
                    </div>
                {% endif %}
                
                <div class="col-xs-12">
                    <a href="{{ path('realization', {'pageid': page.id, 'title': page.seoUrl }) }}" class="back-link" title="Powrót do listy">Powrót do listy</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}