{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Placówki
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-user-o"></i> Placówki
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Dodaj placówkę
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
                <fieldset>
                    <legend>Dane podstawowe</legend>       
                    <div class="row">
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Opis</legend>       
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <fieldset>
                    <legend>Akcje</legend>       
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}  
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Zdjęcie</legend>    
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.category) }}</legend>    
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}