{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Newsletter
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-paper-plane"></i> Newsletter
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj subskrybenta
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
                <fieldset>
                    <legend>{{ form_label(form.email) }}</legend>                                         
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </fieldset>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <fieldset>
                    <legend>Akcje</legend>  
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}  
                    </div>
                </fieldset>    
                <fieldset>
                    <legend>{{ form_label(form.category) }}</legend>   
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </fieldset>    
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}