{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    {% if form is defined %}
        <div class="col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="page-header">
                    Newsletter
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-paper-plane"></i> Newsletter
                    </li>
                    <li class="active">
                        <i class="fa fa-plus"></i> Utwórz newsletter
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 list">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     

                            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
                                <fieldset>
                                    <legend>{{ form_label(form.title) }}</legend>                                         
                                    {{ form_widget(form.title) }}
                                    {{ form_errors(form.title) }}
                                </fieldset>
                                <fieldset>
                                    <legend>{{ form_label(form.content) }}</legend>                                         
                                    {{ form_widget(form.content) }}
                                    {{ form_errors(form.content) }}
                                </fieldset>
                                <fieldset>
                                    <legend>{{ form_label(form.news) }}</legend>                                         
                                    {{ form_widget(form.news) }}
                                    {{ form_errors(form.news) }}
                                </fieldset>
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                                <fieldset>
                                    <legend>Akcje</legend>  
                                    <div class="pull-right">
                                        {{ form_widget(form.submit) }}  
                                    </div>
                                </fieldset> 
                                <fieldset>
                                    <legend>{{ form_label(form.userCategory) }}</legend>                                         
                                    {{ form_widget(form.userCategory) }}
                                    {{ form_errors(form.userCategory) }}
                                </fieldset>
                            </div>
                {{ form_end(form)}}
        </div>
    {% else %}
        <div class="col-lg-12" style="margin-top: 60px;">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="page-header">
                    Newsletter
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="pull-right">
                  {#  <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                        <input type="hidden" name="sort" id="sort" value="" />
                    </form>
                        <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>#}
                    <a href="{{ path('admin_newsletter_create',{'send': 1}) }}" class="btn btn-success">Wyślij do wszystkich</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> Newsletter
                    </li>
                    <li>
                        <i class="fa fa-plus"></i> Utwórz newsletter
                    </li>
                    <li class="active">
                        <i class="fa fa-eye"></i> Podgląd
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12">
            {{ show|raw }}             
        </div>
    {% endif %}
{% endblock content %}