{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="page-header">
                    Newsletter
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {#<div class="pull-right">
                    <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                        <input type="hidden" name="sort" id="sort" value="" />
                    </form>
                        <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                    {% set menu = app.request.get('menu') %}
                    <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
                </div>#}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-paper-plane"></i> Newsletter
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Lista subskrybentów
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>E-mail</td>
                        <td>Active</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for subscriber in subscribers %}
                        {% if subscriber.active == 1 %}
                            {% set active = 'active' %}
                        {% else %}
                            {% set active = 'deactrive' %}
                        {% endif%}
                    <tr>
                        <td>{{ subscriber.id }}</td>
                        <td>{{ subscriber.email }}</td>
                        <td>{{ active }}</td>
                        <td>
                            <a href="{{ path('admin_newsletter_edit', {'id': subscriber.id })}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a href="{{ path('admin_newsletter_delete', {'id': subscriber.id })}}" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}