{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Banery
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_banner_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Banery
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Lista banerów
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if list is empty %}
            <div class="item-list">
                <article>
                    <p>Brak banerów</p>
                </article>
            </div>
        {% else %}
            <ul class="sortables">
                {% for item in list %}
                    <li id="{{ item.id }}">
                        <div class="item-list">
                            <article>
                                <p class="title-item">{{ item.title }}</p>
                                <a href="{{ path('admin_banner_edit', {'id': item.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_banner_delete', {'id': item.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </article>
                        </div>    
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}