{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Promocje
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Promocje
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Dodaj promocję
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
                <fieldset>
                    <legend>{{ form_label(form.name) }}</legend> 
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </fieldset>

                <fieldset>
                    <legend>{{ form_label(form.content) }}</legend> 
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.lead) }}</legend> 
                    {{ form_widget(form.lead) }}
                    {{ form_errors(form.lead) }}
                </fieldset>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <fieldset>
                    <legend>Akcja</legend> 
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}  
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.file) }}</legend>
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}
                </fieldset>
                <fieldset>
                    <legend>Ustawienia</legend> 
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                    {{ form_label(form.oldPrice) }}
                    {{ form_widget(form.oldPrice) }}
                    {{ form_errors(form.oldPrice) }}
                    {{ form_label(form.newPrice) }}
                    {{ form_widget(form.newPrice) }}
                    {{ form_errors(form.newPrice) }}
                    {{ form_label(form.startDate) }}
                    {{ form_widget(form.startDate) }}
                    {{ form_errors(form.startDate) }}
                    {{ form_label(form.endDate) }}
                    {{ form_widget(form.endDate) }}
                    {{ form_errors(form.endDate) }}
                    {{ form_label(form.createDate) }}
                    {{ form_widget(form.createDate) }}
                    {{ form_errors(form.createDate) }}
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}