    <!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>        
        <title>{% spaceless %}{% block pageTitle %}{{ get_Param('company_name') }}{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{{ page.seoDescription }}">
        {% include '@MiuzePage/common/head/head.html.twig'%}
        {% include '@MiuzePage/common/head/css.html.twig'%}
        {% include '@MiuzePage/common/head/ga.html.twig'%}
        {% block ogg %} 
            {% if page.top is null %}
                {% set image = 'default.jpg' %}
                {% set path = '/uploads/top'%}
            {% else %}
                {% set image = page.top.image %}
                {% set path = page.top.path%}
            {% endif %}
            <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}" />
            <meta property="og:type" content="page" />
            <meta property="og:title" content="{{ page.slug.name }}" />
            <meta property="og:description" content="{{ page.seoDescription }}" />
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ path }}{{ image }}" />
        {% endblock ogg %}
    <body class="{{ page.class }}{% block bodyClass %}{% endblock bodyClass %}">
        {% block layoutcontent %}
        {% endblock layoutcontent %}
{#        {% include '@MiuzePage/common/head/cookies.html.twig'%}#}
        {% block js %}
            {% include '@MiuzePage/common/js.html.twig'%}
        {% endblock js %}
        <div id="msgAjax"></div>
    </body>
</html>