{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Galeria
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-picture-o"></i> Galeria
                </li>
                <li class="active">
                    <i class="fa fa-pencil-square-o"></i> Dodaj galerię
                </li>
                <li class="active">
                    <i class="fa fa-camera"></i> Dodaj zdjęcia
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9 photo-files"> 
                {% if photoList is defined%}
                    {% for photo in photoList %}
                        <div class="col-sx-12 col-sm-6 col-md-3 col-lg-3">
                            <img class="img-responsive" src="{{ photo.path ~ photo.image }}" alt="">
                            <a class="fa fa-trash text-red confirm" href="{{path('admin_gallery_photo_delete', {'id': photo.id , 'category': photo.gallery.id })}}"></a>
                        </div>  
                    {% endfor %}
                {% endif %}                                    
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">                                      
                <legend>Plik</legend>  
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(form) }} 
                    <div id="drop">
                            Umieść tutaj pliki
                            <a>Wybierz pliki</a>
                            {{ form_widget(form.file) }}
                    </div>
                    <ul>
                    </ul>
                {{ form_end(form)}}
            </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{{ asset('bundles/miuzeadmin/js/fileuploader/jquery.knob.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/fileuploader/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/fileuploader/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/fileuploader/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/fileuploader/script.js') }}"></script>
{% endblock js %}