{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
{#        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/magnific-popup.css') }}"/>#}
        <section class="bg-white section-md">
            <div class="shell">
                <div class="range range-50 range-sm-center range-md-reverse">
                    {% if list is not empty%}
                        {% for cat in list %}
                            {% for gallery in cat.gallery %}
                                <h3 class="first-letter text-left">{{ gallery.name }}</h2>
                                <div class="gallery grid" style="width: 100%;">
                                    <div class="grid-sizer"></div>
                                    {% for photo in gallery.photo %}
                                        {% if photo.image is not null %}
                                            <div class="grid-item show-photo col-xs-12 col-sm-6 col-md-4">
                                                <a class="gallery-popup" href="{{photo.path ~ photo.image}}">
                                                    <img src="{{ photo.path ~ photo.image }}" alt="{{ gallery.name }}">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Brak galerii
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <aside>
            <div id="photoModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    {% endblock content %}
    {% block js %}

        {{ parent() }}
        <script src="{{ asset('bundles/miuzepage/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('bundles/miuzepage/js/masonry.pkgd.min.js') }}"></script>
        <script type="text/javascript">
            $('document').ready(function () {
                var msnry = {},
                        $columnWidth = $('.grid').width() / 3;
                if ($(window).width() == 768) {
                    $columnWidth = $('.grid').width() / 2;
                } else if ($(window).width() < 600) {
                    $columnWidth = $('.grid').width();
                }

                setTimeout(function () {
                    var container = $('.grid').each(function(){
                        container = this;
                        msnry = new Masonry(container, {
                            // options
                            columnWidth: $columnWidth,
                            itemSelector: '.grid-item'
                        });
                    });
                }, 500);
                setTimeout(function () {
                    msnry.layout();
                }, 600)

                $('.gallery-popup').magnificPopup({
                    zoom: {
                        enabled: true
                    },
                    gallery: {
                        enabled: true,
                        tCounter: ''
                    },
                    type: 'image'
                });
            });
        </script>
    {% endblock js%}