{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ gallery.name}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ gallery.name |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ gallery.path }}{{ gallery.image }}" />
{% endblock ogg %} 
{% block content %}

    <section class="section bg-gray-dark">
        <div class="col-xs-12">
            <a href="{{ path('gallery', {'pageid': page.id, 'title': page.seoUrl }) }}" class="back-link" title="Powrót do listy"><i class="fa fa-arrow-left"></i></a>
        </div>
        <!-- Owl Carousel  -->
        <div class="owl-carousel owl-carousel_flex flickr" data-flickr-tags="tm62268" data-items="2" data-xs-items="3" data-sm-items="4" data-md-items="5" data-lg-items="6" data-xl-items="8" data-loop="false" data-mouse-drag="true" data-photo-swipe-gallery="gallery">
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
            <div class="flickr-item" data-type="flickr-item"><a class="thumb-minimal thumb-minimal_square" href="#" data-image_b="href" data-photo-swipe-item>
                    <figure><img src="images/_blank.png" data-image_n="src" data-title="alt" width="320" height="320" alt=""></figure>
                    <div class="thumb-minimal__overlay"> </div></a></div>
        </div>
    </section>
</div>
{% endblock content %}