/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-01, 14:16:14
    Author     : Kamil
*/
.main-login{
    min-height: 100vh;
}
header{
    border-bottom: 2px solid #0dabff;
    .container{
        min-height: 90px;
        display: flex;
        align-items: center;
        .logo{
            height: inherit;            
            a{
                display: block;
                img{
                    height: 45px;
                    width: auto;
                }
            }
        }
    }
}
section{
    .container{
        border-bottom: 2px solid #0dabff;
        .left-login{
            min-height: 400px;
            display: flex;
            align-items: center;
            img{
                width: 90%;
                height: auto;
                margin: 0 auto;
            }
        }
        .login-form{
            display: flex;
            align-items: center;
            min-height: 400px;
            >div{
                width: 100%;
            }
            h2{
                color: #0dabff;
                text-align: center;
            }
            input[type="text"], input[type="password"]{
                width: 60%;
                margin: 0 auto;
                margin-top: 30px;
                border-radius: 0px;
                height: 40px;
            }
            button{
                display: block;
                width: 60%;
                margin: 0 auto;
                margin-top: 30px;
                background-color: #0dabff;
                color: #fff;
                text-transform: uppercase;
                border: none;
                border-radius: 0px;
                outline: none;
                padding: 15px 20px;
            }
        }
    }
}
footer{
    p, a{
        display: block;
        padding: 30px 0px;
        color: #515151;
        font-weight: bold;
    }
    a:hover{
        color: #0dabff;
        text-decoration: none;
    }    
}