<!-- TESTIMONIAL AREA START -->
<div class="testimonial-area pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonial">
                    <div class="row">
                        <div class="col-md-8 col-sm-9">
                            <div class="section-title mb-30">
                                <h3>Kilka wpisów</h3>
                                <h2 class="h1">ZADOWOLONYCH KLIENTÓW</h2>
                            </div>
                            <div class="testimonial-carousel dots-right-btm">
                                {% for reference in references %}
                                <!-- testimonial-item -->
                                <div class="testimonial-item">
                                    <div class="testimonial-brief">
                                        {{ reference.content |raw }}
                                    </div>
                                    <h6>{{ reference.name }}</h6>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <div class="testimonial-image">
                                <img src="{{ asset('bundles/miuzepage/images/others/testimonial2.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->
