{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Faq
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa fa-comments-o"></i> Faq
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj faq
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Ustawienia podstawowe
                    </div>
                    <div class="panel-body">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                        <div>
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content) }}
                            {{ form_errors(form.content) }}
                            <a href="!#" class="render-editor btn btn-info" data-toggle="#{{ form.content.vars["id"] }}">Załącz edytor</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Ustawienia dodatkowe
                    </div>
                    <div class="panel-body">
                        {{ form_label(form.file) }}
                        {{ form_widget(form.file) }}
                        {{ form_errors(form.file) }}
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="panel-footer">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}