{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Faq
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_faq_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-comments-o"></i> Faq
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista faq
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if paginator is empty %}
            <div class="item-list">
                <article>
                    <p>Brak Faq</p>
                </article>
            </div>
        {% else %}
            <ul class="sortables">
                {% for faq in paginator %}
                    <li id="{{ faq.id }}">
                        <div class="item-list">
                            <article>
                                <p class="title-item">{{ faq.title }}</p>
                                <a href="{{ path('admin_faq_edit', {'id': faq.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_faq_delete', {'id': faq.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </article>
                        </div>   
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                {{ knp_pagination_render(paginator, '@MiuzeAdmin/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock content %}