/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-01, 14:16:14
    Author     : Kamil
*/
.main-login {
  min-height: 100vh;
}
header {
  border-bottom: 2px solid #0dabff;
}
header .container {
  min-height: 90px;
  display: flex;
  align-items: center;
}
header .container .logo {
  height: inherit;
}
header .container .logo a {
  display: block;
}
header .container .logo a img {
  height: 45px;
  width: auto;
}
section .container {
  border-bottom: 2px solid #0dabff;
}
section .container .left-login {
  min-height: 400px;
  display: flex;
  align-items: center;
}
section .container .left-login img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
section .container .login-form {
  display: flex;
  align-items: center;
  min-height: 400px;
}
section .container .login-form > div {
  width: 100%;
}
section .container .login-form h2 {
  color: #0dabff;
  text-align: center;
}
section .container .login-form input[type="text"],
section .container .login-form input[type="password"] {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 0px;
  height: 40px;
}
section .container .login-form button {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #0dabff;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  outline: none;
  padding: 15px 20px;
}
footer p,
footer a {
  display: block;
  padding: 30px 0px;
  color: #515151;
  font-weight: bold;
}
footer a:hover {
  color: #0dabff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */