{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Klienci
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-user-o"></i> Klienci
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj kategorię
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-9 col-lg-offset-9 col-sx-12 col-sm-12 col-md-3 col-lg-3">                                    
                <fieldset>
                    <legend>{{ form_label(form.title) }}</legend> 
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }} 
                    {{ form_label(form.page) }}
                    {{ form_widget(form.page) }}
                    {{ form_errors(form.page) }}  
                    {{ form_widget(form.submit) }} 
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}