{% extends "@MiuzeUser//base.html.twig" %}

{% block pageTitle %}Zaloguj się{% endblock %}

{% block content %}
<div class="main-login">
    <header>
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="logo">
                    <a href="http://tak-lepiej.pl" title="Strona autora">
                        <img src="{{ asset('/bundles/miuzeuser/gfx/logo.png') }}" alt="logo cms"/>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a class="pull-right" href="http://tak-lepiej.pl" title="Strona domowa CMS">
                    www.miuze.pl
                </a>
            </div>
        </div>
    </header>       
    <section>
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 left-login">
                    <img src="{{ asset('/bundles/miuzeuser/gfx/bird.png') }}" alt="logo miuze"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 login-form">
                    <div>
                        <h2 class="strong">Logowanie do CMS</h2>
                        {% if error is not null %}
                            <div class="alert alert-info">{{ error.message |trans }}</div>
                        {% endif %}
                        {% if app.session.flashbag.peekAll()|length %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for msg in messages%}
                                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {#, {'action': path('_check_path')}#}
                        {% form_theme loginForm 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(loginForm) }}
                        {{ form_widget(loginForm.email) }}
                        {{ form_errors(loginForm.email) }}
                        {{ form_widget(loginForm.password) }}
                        {{ form_errors(loginForm.password) }}
                        {{ form_widget(loginForm.save) }}
                        {{ form_end(loginForm)}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p>&copy; 2015 Miuze</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="pull-right">
                    <a href="mailto:biuro@miuze.pl">
                        biuro@miuze.pl
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}