{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent() }} | {{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container">
        <div class="content-page">
            {{ page.content |raw}}
        </div>
        <div id="tabs">
            <ul>
                {% for page in pages %}
                    <li><a href="#tabs{{page.id}}">{{ page.slug.name }}</a></li>
                {% endfor %}
            </ul>
            {% for page in pages %}
                <div id="tabs{{ page.id }}">
                    <div class="content-tab">
                        {{ page.content |raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}