{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Pliki do pobrania
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Pliki do pobrania
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Lista plików
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if paginator is empty %}
            <div class="item-list">
                <article>
                    <p>Brak elementów</p>
                </article>
            </div>
        {% else %}
        {% for item in paginator %}
            <div class="item-list">
                <article>
                    <p class="title-item">{{ item.title }}</p>
                    <a href="{{ path('admin_download_edit', {'id': item.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="{{ path('admin_download_delete', {'id': item.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="{{ path('admin_download-file_add', {'download': item.id}) }}" title="Dodaj plik"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </article>
            </div>     
        {% endfor %}
        <div class="pagination">
            {{ knp_pagination_render(paginator, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
        </div>
        {% endif %}
    </div>
{% endblock content %}