{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Ogłoszenie
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-picture-o"></i> Ogłoszenie
                </li>
                <li class="active">
                    <i class="fa fa-pencil-square-o"></i> Dodaj ogłoszenie
                </li>
                <li class="active">
                    <i class="fa fa-camera"></i> Dodaj pliki
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form) }}                        
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
                {% if photoList is defined%}
                    {% for photo in photoList %}
                        <div class="col-sx-12 col-sm-6 col-md-3 col-lg-3">
                            {% if photo.ext == 'pdf' %}
                                <p>{{ photo.name is not null ? photo.name : photo.image }}</p>
                            {% else %}
                                <img class="img-responsive" src="{{ photo.path ~ photo.image }}" alt="">
                            {% endif %}
                            <a class="fa fa-trash text-red confirm" href="{{path('admin_ad_photo_delete', {'id': photo.id , 'category': photo.ad.id })}}"></a>
                        </div>  
                    {% endfor %}
                {% endif %}                                    
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">                                      
                <fieldset>
                    <legend>Plik</legend>  
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_label(form.ad) }}
                    {{ form_widget(form.ad) }}
                    {{ form_errors(form.ad) }}
                    {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}