{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Osoby
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-user-o"></i> Osoby
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Dodaj osobę
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Podstawowe dane
                    </div>
                    <div class="panel-body">
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                            {{ form_label(form.position) }}
                            {{ form_widget(form.position) }}
                            {{ form_errors(form.position) }}
                        </div>             
                        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6"> 
                            {{ form_label(form.place) }}
                            {{ form_widget(form.place) }}
                            {{ form_errors(form.place) }}
                        </div>
                        <label>Opis</label>
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                        <a href="!#" class="render-editor btn btn-info" data-toggle="#{{ form.description.vars["id"] }}">Załącz edytor</a>
                    </div>
                </div>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Dodatkowe dane
                    </div>
                    <div class="panel-body">
                        {% include "@MiuzeAdmin/Component/image.html.twig"%}
                        {{ form_widget(form.file) }}
                        {{ form_errors(form.file) }}
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="panel-footer">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}