{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Produkty
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-shopping-cart"></i> Produkty
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj produkt
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} } ) }} 
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <fieldset>
                    <legend>{{ form_label(form.name) }}</legend>
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}  
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.lead) }}</legend>
                    {{ form_widget(form.lead) }}
                    {{ form_errors(form.lead) }}  
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.content) }}</legend>
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}  
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.details) }}</legend>
                    {{ form_widget(form.details) }}
                    {{ form_errors(form.details) }}
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <fieldset>
                        <legend>Akcje</legend>                                     
                        {{ form_widget(form.submit) }} 
                </fieldset>
                <fieldset>
                    <legend>Ceny</legend>
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_label(form.promoPrice) }}
                    {{ form_widget(form.promoPrice) }}
                    {{ form_errors(form.promoPrice) }}
                    {{ form_label(form.vat) }}
                    {{ form_widget(form.vat) }}
                    {{ form_errors(form.vat) }}
                    {{ form_label(form.priceOnLogin) }}
                    {{ form_widget(form.priceOnLogin) }}
                    {{ form_errors(form.priceOnLogin) }}
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.isStock) }}</legend>
                    {{ form_widget(form.isStock) }}
                    {{ form_errors(form.isStock) }}
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.provider) }}</legend>
                    {{ form_widget(form.provider) }}
                    {{ form_errors(form.provider) }}
                </fieldset>
                <fieldset>
                    <legend>Opcje</legend>
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                    {{ form_errors(form.code) }}  
                    {{ form_label(form.tags) }}
                    {{ form_widget(form.tags) }}
                    {{ form_errors(form.tags) }}  
                    {{ form_label(form.ean) }}
                    {{ form_widget(form.ean) }}
                    {{ form_errors(form.ean) }}                             
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }} 
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}