{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
        <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Produkty
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-shopping-cart"></i> Produkty
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista produktów
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if pagination is empty %}
            <div class="item-list">
                <article>
                    <p>Brak produktów</p>
                </article>
            </div>
        {% else %}
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <td>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</td>
                        <td>Zdjęcie</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Nazwa produktu', 'p.name') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Kod produktu', 'p.code') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Kategoria', 'c.name') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Cena', 'p.price') }}</td>
                        <td>{{ knp_pagination_sortable(pagination, 'Stan magazynowy', 'p.isStock') }}</td>
                        <td>Akcje</td>
                    </tr>
                </thead>
                <tbody>
                    {% for product in pagination %}
                        {% if product.isStock == true %}{% set  show = 'Dostępny' %}{% else%}{% set  show = 'Niedostępny' %}{% endif %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>
                                {% if product.image is not null %}
                                    <img style="height: 40px; width: auto" src="{{ product.path~ product.image }}"/>
                                {% endif %}
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.price is not null ? product.price : 'b.d.'}}</td>
                            <td>
                                <a href="{{ path('admin_product_isStock', {'id': product.id}) }}" title="Zmień status" class="fa fa-eye  switch"> {{ show }}</a>
                            </td>
                            <td>
                                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_product_delete', {'id': product.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a href="{{ path('admin_product-photo_upload', {'id': product.id}) }}" title="Dodaj plik"><i class="fa fa-camera" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
        {% endif %}
    </div>
{% endblock content %}