
{% extends "MiuzePageBundle::base.html.twig" %}
{% block layoutcontent %}
{% include 'MiuzePageBundle:common:navigation-top.html.twig'%}
<div class="container-page">
    {% block content %}
    {% endblock content %}
</div>
{% include 'MiuzePageBundle:common:wrapper-footer.html.twig'%}
{% include 'MiuzePageBundle:common:footer.html.twig'%}
{% endblock layoutcontent %}
