
{% extends "@MiuzePage\\base.html.twig" %}
{% block layoutcontent %}
{% include '@MiuzePage/common/navigation-top.html.twig'%}
{% block content %}
{% endblock content %}
{% endblock layoutcontent %}
