{% extends "MiuzePageBundle::base.html.twig" %}
{% block layoutcontent %}
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 no-padding over-y">
    {% include 'MiuzePageBundle:common:widget/map.html.twig'%}
    <div class="container-page">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'MiuzePageBundle:common:wrapper-footer.html.twig'%}
</div>
{% include 'MiuzePageBundle:common:navigation-top.html.twig'%}
{% endblock layoutcontent %}
