{% extends "@MiuzePage\\base.html.twig" %}
{% block layoutcontent %}
    <!-- Page-->
    <div class="wrapper">
        {% include '@MiuzePage/common/navigation-top.html.twig'%}
{#        {% include '@MiuzePage/common/breadcrumbs.html.twig'%}#}
        {% include '@MiuzePage/common/slider.html.twig'%}
        {% block content %}
        {% endblock content %}
        {% include '@MiuzePage/common/wrapper-footer.html.twig'%}
    </div>
{% endblock layoutcontent %}