{% extends "MiuzePageBundle::base.html.twig" %}
{% block bodyClass %} {% endblock bodyClass %}
{% block layoutcontent %}
    <div class="left-menu" id="left-menu">
        {% include 'MiuzePageBundle:common:navigation-left.html.twig'%}
        {% if page.type == 'product' %}
            {% include 'MiuzePageBundle:Product/partials:menu.html.twig' %}
        {% endif %}
    </div>
    <div class="wrapper-main">
        
        {% include 'MiuzePageBundle:common:navigation-top.html.twig'%}
        {% block content %}
        {% endblock content %}
        {% include 'MiuzePageBundle:common:wrapper-footer.html.twig'%}
        
    </div>
{% endblock layoutcontent %}