{% set places1 = get_latlng(1) %}
{% set places = [] %}
{% for place in places1 %}
    {% set places = places |merge([{'lat': place.lat, 'lng': place.lng, 'name': place.name, 'address': place.address, 'phone': place.phone is not null ? place.phone : '' }])  %}
{% endfor %}
{% if places is not empty %}
    <script> 
        var places = {{ places |json_encode() |raw }}
    </script>
    <div class="placemap" id="map-place"></div>
    
{% endif %}
