{% if app.session.flashbag.peekAll()|length %}
    <div class="site-message col-sm-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for msg in messages%}
                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}