<div class="modal fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ msg }}</h4>
            </div>
            <div class="modal-body">
                {% if person is null %}
                    {{ msg }}
                {% else %}
                    <article>{{ person.description |raw }}</article>
                    <div class="person-contact">
                        {% if person.phone is not null %}
                            <br/><a href="tel:{{ person.phone }}" title="Zadzwoń do {{ person.firstname }}">Zadzwoń: {{ person.phone }}</a>
                        {% endif %}
                        {% if person.email is not null %}
                            <br/><a href="tel:{{ person.email }}" title="Napisz do {{ person.firstname }}">Napisz: {{ person.email }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->