<!-- SUBSCRIBE AREA START -->
<div class="subscribe-area bg-blue call-to-bg plr-140 ptb-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title text-white">
                    <h3>Zapisz się do</h3>
                    <h2 class="h1">Newsletter</h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="subscribe">
                    {{ render_newsletter() }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SUBSCRIBE AREA END -->