{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
   {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <div class="container video">
        {% if category is empty %}
            <div class="alert alert-warning">
                Brak filmów
            </div>
        {% else %}
            {% for cat in category %}
                {% if cat.category is empty %}
                    <div class="alert alert-warning">
                        Brak filmów w kategorii {{ cat.title }}
                    </div>
                {% else %}
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-section">
                        {{ cat.title |raw }}
                    </p>
                    {% for post in cat.category %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 video-item">
                            <p class="video-title">{{ post.title }}</p>
                            <iframe src="{{post.youtube |raw }}" frameborder="0" allowfullscreen></iframe>
                            <article>
                                {{ post.lead |raw }}
                            </article>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

{% endblock content %}
