{% extends "@MiuzePage/common/content.html.twig" %}
{% block content %}    
    <div class="container about-us">
        <section class="company">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 sec-left">
                <div class="flex-v">
                    <div class="flex-content">
                        <p>
                            Nasza firma, z siedzibą w miejscowości Żory, proponuje Państwu szeroką gamę systemów roletowych oraz prawdziwie ogromną kolorystykę wykonania.
                        </p>
                        <p>
                            Nasza długa obecność na rynku jest gwarantem nie tylko jakości, ale także estetyki wykonania.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-5 col-lg-5 sec-right">
                <div class="flex-v">
                    <div class="flex-content">
                        
                    </div>
                </div>
            </div>
        </section>
        
        <section class="blind-one">
            <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 sec-left">
                <div class="flex-v">
                    <div class="flex-content">
                        <p>
                            Zasłony do okien, <br>systemy roletowe
                        </p>
                        <p>
                            Nasze zasłony do okien tworzymy dla Państwa już  od wielu lat.
                        </p>
                        <p>
                            Dokładamy przy tym wszelkich starań, by każdy produkt, rolety i systemy roletowe były zarówno wyjątkowe pod względem designu, jak też jakości wykonania.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 sec-right">
                <div class="flex-v">
                    <div class="flex-content">
                        
                    </div>
                </div>
            </div>
        </section>
        
        <section class="blind-two">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 sec-left">
                <div class="flex-v">
                    <div class="flex-content">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6  col-md-4 col-lg-4 sec-right">
                <div class="flex-v">
                    <div class="flex-content">
                        <p>
                            Zasłony do okien<br/>-współpraca
                        </p>
                        <p>
                            Kładziemy stały nacisk na rozwój naszego przedsiębiorstwa.
                        </p>
                        <p>
                            Dlatego jeśli prowadzisz firmę i uważasz, że rolety byłby wspaniałym wypełnieniem asortymentu Twojego sklepu, zadzwoń do nas lub wypełnij formularz kontaktowy. Chętnie odpowiemy na wszelkie zgłoszenia, rozwiejemy wszystkie wątpliwości.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="blind-three">
            <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 sec-left">
                <div class="flex-v">
                    <div class="flex-content">
                        <p>
                            Zanim przyjedziesz
                        </p>
                        <p>
                            Zanim do nas przyjedziesz, wymierz swoje okno.
                        </p>
                        <a href="{{ path('page', {'pageid': 8, 'title': 'faq' }) }}" title="faq">sprawdź jak mierzyć</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 sec-right">
                <div class="flex-v">
                    <div class="flex-content">
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}