{% extends "@MiuzePage/common/content.html.twig" %}
{% block content %} 
    
        <section id="whatwedo">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo-img">
				<img class="img-responsive" src="{{ asset('bundles/miuzepage/gfx/main/mac.png') }}" />
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo-text">
                            <div class="slide-bottom">
				<h3>Strony<br>Internetowe</h3>
				<p>Tworzymy strony internetowe dopasowane do twoich potrzeb. 
                                    Nasi graficy przygotują dla Ciebie indywidualną szatę graficzną a programiści zintegrują ten szablon z naszym autorskim systemem CMS. 
                                    Dzięki czemu będziesz mógł wprowadzać samodzielnie zmiany i rozbudowywać stronę w przyszłości samodzielnie. 
                                    Dięki modułowości systemu CMS możemy dostosować do twoich indywidualnych potrzeb.
                                    A gdy w naszym systemi nie znajdziesz odpowiedniego dla Ciebie modułu, stworzymy go dla Ciebie. 
                                </p>
                                <a href="{{ path('page', {'pageid': 5, 'title': 'kontakt' } ) }}">Zapytaj o wycenę</a>
                            </div>
			</div>
		</div>
	</section>
	<!-- end - section : whatwedo -->

	<!-- section : whatwedo2-->
	<section id="whatwedo2">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo2-text">
                            <div class="slide-bottom">
				<h3>Aplikacje<br>Internetowe</h3>
				<p>
                                    Posiadamy wiedzę i doświadczenie w budowaniu dedykowanych aplikacji oraz integracji systemów.
                                    Jeśli potrzebujesz programu szytego na miarę, stworzymy dla Ciebie idealne narzędzie i pomożemy we wdrożeniu jak i późniejszej ekspoatacji.
                                </p>
				<a href="{{ path('page', {'pageid': 5, 'title': 'kontakt' } ) }}">Zapytaj o wycenę</a>
                            </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo2-img">
				<img class="img-responsive" src="{{ asset('bundles/miuzepage/gfx/main/webapps.png') }}" />
			</div>
		</div>
	</section>
	<!-- end - section : whatwedo2 -->

	<!-- section : whatwedo3-->
        <section id="whatwedo3">
		<div class="container">
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo3-img">	
				<img class="img-responsive" src="{{ asset('bundles/miuzepage/gfx/main/phone.png') }}" />	
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 whatwedo3-text">
                            <div class="slide-bottom">
				<h3>Sklepy<br>Internetowe</h3>
				<p>
                                    Chcesz poszeżyć swoją działalność bądź zdobyć nową grupę odbiorców? Internet jest doskonałym miejscem na dotarcie do szerszego grona odbiorców. Zbudujemy sklep dla Ciebie i pomożemy we wdrożeniu go do świata interaktywnego.
                                </p>
				<a href="{{ path('page', {'pageid': 5, 'title': 'kontakt' } ) }}">Zapytaj o wycenę</a>
                            </div>
			</div>
		</div>
	</section>
{% endblock content %}