<ul class="footer-latest-news">
    {% for post in posts %}
        <li>
            <div class="latest-news-image">
                <a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}"><img src="{{ post.path ~ post.image }}" alt="{{ post.title }}"></a>
            </div>
            <div class="latest-news-info">
                <h6><a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}">{{ post.title |raw }}</a></h6>
                {{ post.lead |raw }}
            </div>
        </li>
    {% endfor %}
</ul>