{% for post in posts %}
    <div class="col-md-12">
        <article class="blog-item bg-gray">
            <div class="blog-image">
                <a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}"><img src="{{ post.path ~ post.image }}" alt="{{ post.title }}"></a>
            </div>
            <div class="blog-info">
                <div class="post-title-time">
                    <h5><a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}">{{ post.title |raw }}</a></h5>
                    <p>{{ post.startDate |date('d-m-Y') }}</p>
                </div>
                {{ post.lead |raw }}
                <a class="read-more" href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}">Czytaj wpis</a>
            </div>
        </article>
    </div>
{% endfor %}