{% for post in posts %}
    <div class="col-md-12 col-sm-6 col-xs-12">
        <article class="recent-post-item">
            <div class="recent-post-image">
                <a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}"><img src="{{ post.path ~ post.image }}" alt="{{ post.title }}"></a>
            </div>
            <div class="recent-post-info">
                <div class="recent-post-title-time">
                    <h5><a href="{{ path('blog_read', {'id': post.id, 'pageid': page.id, 'title': post.urlTitle}) }}">{{ post.title |raw }}</a></h5>
                    <p>{{ post.startDate |date('d-m-Y') }}</p>
                </div>
                {{ post.lead |raw }}
            </div>
        </article>
    </div>
{% endfor %}