{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <section class="bg-white section-md">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-md-7 cell-lg-8 section-divided__main">
                    {% if category is not empty %}
                        {% for cat in category %}
                            {% for post in cat.category %}
                                <!-- Post classic-->
                                <div class="section-sm">
                                    <article class="post-classic">
                                        <div class="post-classic-title post-classic-title-icon linear-icon-star">
                                            <h3><a href="{{ path('news_read', {'pageid': page.id, 'id': post.id, 'title': post.seoTitle }) }}">{{ post.title }}</a></h3>
                                        </div><img class="img-bordered" src="{{ post.path ~ post.image }}" alt="" width="886" height="661"/>
                                        <div class="post-classic-body">
                                            {{ post.lead |raw }}
                                        </div>
                                        <div class="post-meta">
                                            <div class="group"><a href="{{ path('news_read', {'pageid': page.id, 'id': post.id, 'title': post.seoTitle }) }}">
                                                <time datetime="{{ post.startDate |date('Y')}}">{{ post.startDate |date('d-m, Y')}}</time></a>
                                            </div>
                                        </div>
                                        <div class="post-classic-footer">
                                            <a class="button button-primary-outline" href="{{ path('news_read', {'pageid': page.id, 'id': post.id, 'title': post.seoTitle }) }}">Czytaj całość</a>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <!-- Pagination-->
                    {#<div class="section-sm">
                        <ul class="pagination-classic">
                            <li class="active"><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#">04</a></li>
                            <li><a href="#">05</a></li>
                            <li>..</li>
                            <li><a href="#">07</a></li>
                            <li class="pagination__control"><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}