{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ news.title}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ news.title |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ news.path }}{{ news.image }}" />
{% endblock ogg %} 
{% block content %}
    <div class="range range-60 range-xs-center">
        <div class="cell-md-8 section-divided__main">
            <section class="section-sm post-single-body">
                <article>
                    {% if news.image is not null %}
                        <img src="{{ news.path ~ news.image }}" alt="{{ news.title }}" class="img-bordered"/>
                    {% endif %}
                    <h3 class="first-letter">{{ news.title }}</h3>
                    <hr/>
                    {{ news.lead |raw }}
                    <hr/>
                    {{ news.content |raw }}
                </article>
            </section>
        </div>
    </div>
{% endblock content %}