        {% if pageList is empty %}

        {% else %}
            {% if app.request.get('pageid') is defined %}{% set pageid = app.request.get('pageid') %}{% else %}{% set pageid = 0 %}{% endif %}
            {% for page in pageList %}
            <li class="{{ pageid == page.id ? 'active' : '' }} {{ page.class }} {{ page.children is empty ? '' : 'dropdown'}}">
                <a
                        {{ page.children is empty ? 'class="menu-item"' : 'class="menu-item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"'}}
                        href="{{ get_Url(page) }}">
                    {{ page.slug.name |raw }}
                    {{  page.children is empty ? '': '<span class="caret"></span>' }}
                </a>
                {% if page.children is not empty %}
                    <ul class="dropdown-menu">
                        {% for subpage in page.children %}
                            <li class="{{ pageid == subpage.id ? 'active' : '' }} {{ subpage.class}}">
                                <a href="{{ get_Url(subpage) }}" class="menu-item">
                                    {{ subpage.slug.name |raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                {% else %}
                    </li>
                {% endif %}
            {% endfor %}
            <li class="li-inline">
                <a class="menu-item" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="menu-item" href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </li>
        {% endif %}     
