<nav>
    {% if pageList is empty %}

    {% else %}
        <ul>
            {% if app.request.get('page') is defined %}{% set pageid = app.request.get('page') %}{% else %}{% set pageid = 0 %}{% endif %}
        {% for page in pageList %} 
            {% if page.id == 4 or page.id == 10 or page.id == 11 or page.id == 41%}
            {% else %}
                <li class="first-level {{ pageid == page.id ? 'active' : '' }} {{ page.__children is empty ? '' : 'has-subpage'}}">

                    {% if page.link is not null %}  
                        <a href="{{ page.link }}" class="element {{ page.class }}">
                            {{ page.slug.name |raw }}
                        </a>  
                    {% else %}
                        <a href="{{ path('page', {'pageid': page.id, 'title': page.seoUrl }) }}" class="element {{ page.class }}">
                            {{ page.slug.name |raw }}
                        </a> 
                    {% endif %}
                    {% if page.__children is not empty %}
                        <ul class="subpage">
                        {% for subpage in page.__children %}
                            {% if subpage.link is not null %}     
                                <li class="{{ pageid == subpage.id ? 'active' : '' }}">
                                   <a href="{{ subpage.link }}" class="element {{ subpage.class }}">
                                       {{ subpage.slug.name |raw }}
                                   </a>  
                                </li>
                           {% else %}
                               <li class="{{ pageid == subpage.id ? 'active' : '' }} {{ subpage.class}}">
                                   <a href="{{ path('page', {'pageid': subpage.id, 'title': subpage.seoUrl }) }}" class="element">
                                       {{ subpage.slug.name |raw }}
                                   </a> 
                               </li>
                           {% endif %} 
                        {% endfor %}
                        </ul>
                    {% else %}
                </li>
                {% endif %} 
            {% endif %}

        {% endfor %}
        </ul>
    {% endif %}     
</nav>
