{% if pageList is empty %}

{% else %}
    {% if app.request.get('pageid') is defined %}{% set pageid = app.request.get('pageid') %}{% else %}{% set pageid = 0 %}{% endif %}
    {% for page in pageList %}
        <li {{ pageid == page.id ? 'class="active"' : '' |raw }}>
            <a href="{{ path('subpage', {'pageid':page.id, 'title': page.seoUrl}) }}">{{ page.slug.name |raw }}</a>
            {% if page.children is not empty %}
                <ul class="rd-navbar-dropdown">
                {% for subpage in page.children %}
                    <li>
                        <a href="{{ path('subpage', {'pageid':subpage.id, 'title': subpage.seoUrl}) }}">{{ subpage.slug.name |raw }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %} 
            </li>
    {% endfor %}
{% endif %}     
