{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
        <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Pliki do pobrania
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Pliki do pobrania
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Dodaj plik
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9"> 
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Tytuł</td>
                        <td>Nazwa</td>
                        <td>Akcja</td>
                    </tr>
                </thead>
                <tbody>
                    {% if list is not empty %}
                        {% for file in list %}
                            <tr>
                                <td>{{ file.id }}</td>
                                <td>{{ file.title }}</td>
                                <td>{{ file.image }}</td>
                                <td><a href="{{ path('admin_download-file_delete', {'id': file.id, 'categoryId': file.categoryFile.id }) }}" class="btn btn-danger">USUŃ</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Brak plików</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}  
            <fieldset>
                <legend>Dodaj plik</legend> 
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}  
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}   
                {{ form_widget(form.submit) }} 
            </fieldset>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock content %}