<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        {% if page.top is null %}
            {% set image = 'default.jpg' %}
            {% set path = '/uploads/top/'%}
        {% else %}
            {% set image = page.top.image %}
            {% set path = page.top.path%}
        {% endif %}
        <div class="top-ad" style="background-image: url('{{ path ~ image }}')">
            <div class="container">
                <div class="title">
                    <h3 class="page-title"><span>{{ ad.place |raw }}</span></h3>
                    <div class="top-lead">
                        {{ ad.times |raw }}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
