<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
            {% set image = product.image %}
            {% set path = product.path %}
        <div class="top-product" style="background-image: url('{{ path ~ image }}')">
            <div class="container">
                <div class="title">
                    <h3 class="page-title"><span>{{ product.name |raw }}</span></h3>
                </div>
            </div>
        </div>        
    </div>
</div>
