<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Logowanie do autorskiego systemu cms">
    <meta name="author" content="Miuze Creative Team Kamil Zawalski">
    <title>CMS Login</title>
    <!-- Bootstrap core CSS -->
    {% block stylesheet %}
        <link href="{{ asset('bundles/miuzeadmin/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/miuzeuser/css/style.css')}}" rel="stylesheet">
    {% endblock stylesheet %}
    
  </head>

  <body>
        
        <div class="container-fluid">  
            <div class="row">
                {% block content %}
                {% endblock content %}
            </div>
        </div>                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/miuzeadmin/js/bootstrap.min.js') }}"></script>
    </body>
</html>