{% for item in flats %}
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="flat-item">
        <div class="flat-item-image">
            <span class="for-sale">Na sprzedaż</span>
            <a href="{{ path('flat_read',{'pageid': page.id, 'id': item.id, 'title': item.urlTitle } ) }}"><img src="{{ item.path ~ item.image }}" alt="{{ item.name }}"></a>
            <div class="flat-link">
                <a href="{{ path('flat_read',{'pageid': page.id, 'id': item.id, 'title': item.urlTitle } ) }}">Zobacz nieruchomość</a>
            </div>
            <ul class="flat-desc">
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/4.png') }}" alt="">
                    <span>{{ item.area }} m<sup>2</sup></span>
                </li>
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/5.png') }}" alt="">
                    <span>{{ item.room }}</span>
                </li>
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/6.png') }}" alt="">
                    <span>{{ item.bathroom }}</span>
                </li>
            </ul>
        </div>
        <div class="flat-item-info">
            <div class="flat-title-price">
                <h5><a href="{{ path('flat_read',{'pageid': page.id, 'id': item.id, 'title': item.urlTitle } ) }}">{{ item.name }}</a></h5>
                <span class="price">{{ item.price |number_format(2, ',', ' ') }}</span>
            </div>
            <p><img src="{{ asset('bundles/miuzepage/images/icons/location.png') }}" alt="">{{ item.build.address }}</p>
        </div>
    </div>
</div>
{% endfor %}