<!-- flat-item -->
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="flat-item">
        <div class="flat-item-image">
            <span class="for-sale">Na sprzedaż</span>
            <a href="{{ path('flat_read', {'id': flat.id, 'title': flat.urlTitle, 'pageid': page.id}) }}"><img src="{{ flat.path ~ flat.image }}" alt="{{ flat.name }}"></a>
            <div class="flat-link">
                <a href="{{ path('flat_read', {'id': flat.id, 'title': flat.urlTitle, 'pageid': page.id}) }}">Zobacz nieruchomość</a>
            </div>
            <ul class="flat-desc">
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/4.png') }}" alt="">
                    <span>{{ flat.area }} m<sup>2</sup></span>
                </li>
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/5.png') }}" alt="">
                    <span>{{ flat.room }}</span>
                </li>
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/6.png') }}" alt="">
                    <span>{{ flat.bathroom }}</span>
                </li>
            </ul>
        </div>
        <div class="flat-item-info">
            <div class="flat-title-price">
                <h5><a href="properties-details.html">{{ flat.name }}</a></h5>
                <span class="price">{{ flat.price |number_format(2, ',', ' ') }}</span>
            </div>
            <p><img src="{{ asset('bundles/miuzepage/images/icons/location.png') }}" alt="">{{ flat.build is not null ? flat.build.address : ''}}</p>
        </div>
    </div>
</div>