<!-- FIND HOME AREA START -->
<div class="find-home-area bg-blue call-to-bg plr-140 pt-60 pb-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="section-title text-white">
                    <h3>Znajdź swój</h3>
                    <h2 class="h1">dom</h2>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="find-homes">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item custom-select">
                                <select class="selectpicker" title="Location" data-hide-disabled="true" data-live-search="true">
                                    <optgroup disabled="disabled" label="disabled">
                                        <option>Hidden</option>
                                    </optgroup>
                                    <optgroup label="Australia">
                                        <option>Sydney</option>
                                        <option>Melbourne</option>
                                        <option>Cairns</option>
                                    </optgroup>
                                    <optgroup label="USA">
                                        <option>South Carolina</option>
                                        <option>Florida</option>
                                        <option>Rhode Island</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item custom-select">
                                <select class="selectpicker" title="Sub - Location" data-hide-disabled="true" data-live-search="true">
                                    <optgroup disabled="disabled" label="disabled">
                                        <option>Hidden</option>
                                    </optgroup>
                                    <optgroup label="Australia">
                                        <option>southeastern coast</option>
                                        <option>southeastern tip</option>
                                        <option>northwest corner</option>
                                    </optgroup>
                                    <optgroup label="USA">
                                        <option>Charleston</option>
                                        <option>St. Petersburg</option>
                                        <option>Newport</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item">
                                <input type="text" name="min-area" placeholder="Min area (sqft)">
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item">
                                <input type="text" name="max-area" placeholder="Max area (sqft)">
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item  custom-select">
                                <select class="selectpicker" title="No. of Beadrooms" data-hide-disabled="true">
                                    <optgroup  label="1">
                                        <option label="1">1 Beadrooms</option>
                                        <option>2 Beadrooms</option>
                                        <option>3 Beadrooms</option>
                                        <option>4 Beadrooms</option>
                                        <option>5 Beadrooms</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="find-home-item custom-select">
                                <select class="selectpicker" title="No. of Bathrooms" data-hide-disabled="true">
                                    <optgroup label="2">
                                        <option>1 Bathrooms</option>
                                        <option>2 Bathrooms</option>
                                        <option>3 Bathrooms</option>
                                        <option>4 Bathrooms</option>
                                        <option>5 Bathrooms</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-7 col-xs-12">
                                    <div class="find-home-item">
                                        <!-- shop-filter -->
                                        <div class="shop-filter">
                                            <div class="price_filter">
                                                <div class="price_slider_amount">
                                                    <input type="submit"  value="You range :"/>
                                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                                </div>
                                                <div id="slider-range"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <div class="find-home-item mb-0-xs">
                                        <a class="button-1 btn-block btn-hover-1" href="#">SEARCH</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIND HOME AREA END -->
