<!-- widget-search-property -->
<aside class="widget widget-search-property">
    <h5>Wyszukaj nieruchomość</h5>
    <div class="row">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.address) }}
                    {{ form_errors(form.address) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.room) }}
                    {{ form_errors(form.room) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.minArea) }}
                    {{ form_errors(form.minArea) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.maxArea) }}
                    {{ form_errors(form.maxArea) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.bathroom) }}
                    {{ form_errors(form.bathroom) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-xs-12">
                <div class="find-home-item">
                    {{ form_widget(form.garage) }}
                    {{ form_errors(form.garage) }}
                </div>
            </div>
            <div class="col-md-10 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-7 col-xs-12">
                        <div class="find-home-item">
                            <!-- shop-filter -->
                            <div class="shop-filter">
                                <div class="price_filter">
                                    <div class="price_slider_amount">
                                        {{ form_widget(form.minPrice) }}
                                        {{ form_widget(form.maxPrice) }}
                                        <input type="submit"  value="Zakres :"/>
                                        <input type="text" id="amount" name="price"  placeholder="Twoja kwota" />
                                        {#<input type="text" id="amount" name="price"  placeholder="Add Your Price" />#}
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-5 col-xs-12">
                        <div class="find-home-item">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form)}}
    </div>
</aside>
<!-- FIND HOME AREA END -->
