<!-- FIND HOME AREA START -->
<div class="find-home-area bg-blue call-to-bg plr-140 pt-60 pb-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="section-title text-white">
                    <h3>Znajdź swoje</h3>
                    <h2 class="h1">MIESZKANIE</h2>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="find-homes">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.room) }}
                                    {{ form_errors(form.room) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.minArea) }}
                                    {{ form_errors(form.minArea) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.maxArea) }}
                                    {{ form_errors(form.maxArea) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.bathroom) }}
                                    {{ form_errors(form.bathroom) }}
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="find-home-item">
                                    {{ form_widget(form.garage) }}
                                    {{ form_errors(form.garage) }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-7 col-xs-12">
                                        <div class="find-home-item">
                                            <!-- shop-filter -->
                                            <div class="shop-filter">
                                                <div class="price_filter">
                                                    <div class="price_slider_amount">
                                                        {{ form_widget(form.minPrice) }}
                                                        {{ form_widget(form.maxPrice) }}
                                                        <input type="submit"  value="Zakres :"/>
                                                        <input type="text" id="amount" name="price"  placeholder="Twoja kwota" />
                                                    </div>
                                                    <div id="slider-range"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <div class="find-home-item mb-0-xs">
                                            {{ form_widget(form.submit) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</div>
<!-- FIND HOME AREA END -->
