{% extends "@MiuzeAdmin\\base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Ustawienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Ustawienia
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Lista ustawień
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if list is empty %}
            <div class="item-list">
                <article>
                    <p>Brak ustawień</p>
                </article>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Id modułu</th>
                        <th>Nazwa modułu</th>
                        <th>Ikona</th>
                        <th>Stan</th>
                        <th>Edycja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, item in list %}
                        <tr>
                            <td>[{{ item.name }}]</td>
                            <td>{{ item.title }}</td>
                            <td><i class="{{ item.icon }}"></i></td>
                            <td>{{ item.enabled == true ? 'zał' : 'wył' }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('admin_modules_edit', {'id': item.name }) }}">Edytuj</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}