{% extends "@MiuzeAdmin//base.html.twig" %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Użytkownicy
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> Użytkownicy
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj użytkownika
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="xol-xs-12 col-sm-12 col-md-8 col-lg-8">
                <fieldset>
                    <legend>Dodaj użytkownika</legend>
                    {{ form_label(form.companyName) }}
                    {{ form_widget(form.companyName) }}
                    {{ form_errors(form.companyName) }}
                    {{ form_label(form.nip) }}
                    {{ form_widget(form.nip) }}
                    {{ form_errors(form.nip) }}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                    {{ form_label(form.street) }}
                    {{ form_widget(form.street) }}
                    {{ form_errors(form.street) }}
                    {{ form_label(form.homeNumber) }}
                    {{ form_widget(form.homeNumber) }}
                    {{ form_errors(form.homeNumber) }}
                    {{ form_label(form.postCode) }}
                    {{ form_widget(form.postCode) }}
                    {{ form_errors(form.postCode) }}
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                </fieldset>
            </div>
            <div class="xol-xs-12 col-sm-12 col-md-4 col-lg-4">
                <fieldset>
                    <legend>Akcje</legend>
                    {{ form_widget(form.submit) }} 
                </fieldset>
                <fieldset>
                    <legend>Ustawienia dodatkowe</legend>
                    {{ form_label(form.accountExpired) }}
                    {{ form_widget(form.accountExpired) }}
                    {{ form_errors(form.accountExpired) }}
                    {{ form_label(form.accountLocked) }}
                    {{ form_widget(form.accountLocked) }}
                    {{ form_errors(form.accountLocked) }}
                    {{ form_label(form.credentialsExpired) }}
                    {{ form_widget(form.credentialsExpired) }}
                    {{ form_errors(form.credentialsExpired) }}
                    {{ form_label(form.enabled) }}
                    {{ form_widget(form.enabled) }}
                    {{ form_errors(form.enabled) }}
                </fieldset>
                <fieldset>
                    <legend>Prawa dostępu</legend>
                    {{ form_widget(form.roles) }}
                    {{ form_errors(form.roles) }}
                </fieldset>
                <fieldset>
                    <legend>Hasło</legend>
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}