{% extends "@MiuzeAdmin//base.html.twig" %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Użytkownicy
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> Użytkownicy
                </li>
                <li class="active">
                    <i class="fa fa-warning"></i> Zmień hasło
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">

        {% form_theme changePasswdForm 'bootstrap_3_layout.html.twig' %}
            {{ form_start(changePasswdForm, {'attr': {'novalidate': 'novalidate'}}) }}     
                <div class="col-sx-offset-0 col-sm-offset-0 col-md-offset-9 col-lg-offset-9 col-md-3 col-lg-3">
                    <fieldset>
                        <legend>Zmiana hasła</legend>  
                        {{ form_label(changePasswdForm.currentPassword) }}
                        {{ form_widget(changePasswdForm.currentPassword) }}
                        {{ form_errors(changePasswdForm.currentPassword) }}  
                        {{ form_widget(changePasswdForm.plainPassword) }}
                        {{ form_errors(changePasswdForm.plainPassword) }}  
                        {{ form_widget(changePasswdForm.submit) }} 
                    </fieldset>
                </div>

            {{ form_end(changePasswdForm)}}
    </div>
{% endblock content %}