{% extends "@MiuzeAdmin//base.html.twig" %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Użytkownicy
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> Użytkownicy
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista użytkowników
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <td>id</td>
                    <td>Imie i nazwisko</td>
                    <td>email</td>
                </tr>
            </thead>
            <tbody>
                {% for user in list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName is not null ? user.firstName : ''}} {{  user.lastName is not null ? user.lastName : '' }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% for role in user.roles %}
                            {{ role }},
                        {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('user_user_change-password', {'id': user.id}) }}" class="btn btn-warning">Zmień hasło</a>
                            <a href="{{ path('user_user_manage', {'id': user.id}) }}" class="btn btn-warning">Edytuj</a>
                            <a href="{{ path('user_user_delete', {'id': user.id}) }}" class="btn btn-danger"><i class="fa fa-trash confirm"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}