{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Produkty
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="pull-right">
                <div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_product-category_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-shopping-cart"></i> Produkty
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista kategorii
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 main list">
        {% if categoryList is empty %}
            <div class="item-list">
                <article>
                    <p>Brak Kategorii</p>
                </article>
            </div>
        {% else %}
            <div class="dd">
                {{ categoryList |raw }}
            </div>
            {#<ul class="sortables">#}
                {#{% for category in categoryList %}#}
                    {#<li id="{{ category.id }}">#}
                        {#<div class="item-list">#}
                            {#<article>#}
                                {#<p class="title-item">{{ category.name }}</p>#}
                                {#<a href="{{ path('admin_product-category_edit', {'id': category.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>#}
                                {#<a href="{{ path('admin_product-category_delete', {'id': category.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>   #}
                                {#<a href="{{ path('admin_product_product', {'id': category.id}) }}" title="Lista produktów"><i class="fa fa-list" aria-hidden="true"></i></a>#}
                                {#<a href="{{ path('admin_product_add', {'id': category.id}) }}" title="Dodaj produkt"><i class="fa fa-plus"></i></a>                            #}
                            {#</article>#}
                        {#</div>  #}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {% endif %}
    </div>
{% endblock content %}