{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.captcha) }}
    {{ form_widget(form.submit) }}
{{ form_end(form)}}
<p class="form-messege"></p>
        
