{{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.submit, {'attr': {'class': 'submit-btn-1'} }) }}
	<p style="font-size: .7em;text-align:center;">Administratorem danych osobowych jest CU Lumenise Katarzyna Sado, 44-251 Rybnik, ul. Buchalików 91B/8 . Dane wpisane w formularzu kontaktowym będą przetwarzane w celu udzielenia odpowiedzi na przesłane zapytanie zgodnie z <a href="https://naszemieszkanie.com/pl/17,polityka-prywatnosci.html" target="_blank">regulaminem.</a></p>
{{ form_end(form)}}
<p class="form-messege"></p>
        
