/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-05, 20:47:05
    Author     : Kamil
*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav{    
    .title{
        background-color: #419641;
        color: #fff;
    }    
}
fieldset{
    background-color: #f5f5f5;
    border: 1px solid #bdbdbd;
    padding: 15px;
    margin-bottom: 20px;
    legend{
        background-color: #f5f5f5;
        border: 1px solid #bdbdbd;
        border-bottom: none;
        font-size: 1em;
        width: auto;
        padding: 10px 15px;
        margin: 0px auto 0px -16px;
    }
    label{
        margin-top: 0em; 
        font-size: .9em;
        font-weight: normal;
    }
    input{
        border-radius: 0px !important;
        
    }
    textarea{
        
    }
    .radio{
        width: 50%;
        float: left;
        margin:  10px 0px !important;
    }
}
.pos-fix{
    position: fixed;
    background: #212121;
}


//old
body {
    margin-top: 100px;
    background-color: @white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f5f5f5;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav li ul {
    padding: 0;
}

.side-nav li ul li a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav li ul li a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
/////////////////////////////////////////////pagelist///////////////////////////
.list{
    ol{
        list-style: none;
        li{
            
        }
    }
    .item-list{
        display: block;
        border: 1px solid #D2C7C7;
        border-radius: 0px;
        margin: 10px 0px;
        width: 100%;
        height: 70px;
        background-color: #fff;
        .switch{            
            .glyphicon-off{
                color: @red;
            }
            &.active{
                .glyphicon-off{
                    color: @green !important;
                }
            }
        }
    }
    article{
        padding: 5px 10px 5px 20px;
        p{
            text-transform: uppercase;
            color: @light-black;
        }
    }
}
//----------------------------------------------addPage-------------------------
.mceEditor{
    width: 100%;
}
label{
    margin-top: 30px;
}
.side-nav{
    .fa-caret-down{
        float: right;
        margin-right: 20px;
        margin-top:3px;
    }
}
.navbar-inverse .navbar-nav li > a {
    color: #9d9d9d;
    line-height: 20px;
}
.navbar-nav li {
    float: left;
    a{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.nav div > li {
    position: relative;
    display: block;
    a{
        position: relative;
        display: block;
        padding: 10px 15px;
    }
}

.side-nav li ul li a:hover {
    color: #fff;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}
a{
    text-decoration: none;
    &:hover, &:visited, &:focus{
        text-decoration: none;
    }
}

.treeNode{background: url('../gfx/treeNode.jpg') right 37px no-repeat; position: relative;}
.treeNode span[class^='fa']{padding: 0; margin-top: 28px; margin-left: 10px; display: block; background: #fff; font-size: 0.8em; position: relative; z-index: 2;}
.treeNode.last .cover{display: block; position: absolute; bottom: -10px; left: 0; height: 46px; width: 40px; background: #fff; z-index: 1;}
.treeNode span[class^='fa']{
    width: 20px;
    &::before{
        padding: 5px;
        border: 1px solid #d5d5d5;
        background: @white;
    }
}

/*fileuploader*/
/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:250px;
    padding:30px;
    border-radius:3px;

    margin:10px auto 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 20px 20px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../gfx/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 5px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../gfx/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

#product-fields-list{
    list-style: none;
    padding: 0px;
    li{
        .form-group{
            padding: 0px 15px;
            float: left;
            &:nth-of-type(n){
                width: 50%;
            }
            &:first-of-type{
                width: 80%;
            }
            &:nth-of-type(2){
                width: 20%;
            }

        }
    }
}
.cart-box{
    overflow: auto;
}
.overauto{
    overflow: auto;
}
.container-fluid{
    li{
        overflow: visible;
    }
    .cart-box{
        overflow: visible;
    }
}
.form-control{
    border-radius: 0px;
    &:focus{
        .shadow-box(none);
    }
}
body{
    background-color: #f5f5f5;
}
.table{
    background: #fff;
}