{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container-fluid person">
        {% if list is empty %}
            <div class="alert alert-danger">
                Brak osób
            </div>
        {% else %}
            {% for cat in list %}
                {% if cat.person is not empty %}
                    {% for person in cat.person %}
                        <div class="row overauto">
                        {% if loop.index is odd %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 item-person left-side">
                                <div class="container-left">
                                <article>
                                    <h3>{{ person.firstName ~ ' ' ~ person.lastName }}</h3>
                                    <h4>{{ person.position }}</h4>
                                    <div class="content-person">
                                        {{ person.description |raw }}
                                    </div>
                                </article>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding item-person-image right-side">
                                {% if person.image is not null %}
                                    <img src="{{ person.path ~ person.image }}" alt="{{ person.firstName ~ ' ' ~ person.lastName }}"/>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 no-padding item-person-image left-side">
                                {% if person.image is not null %}
                                    <img src="{{ person.path ~ person.image }}" alt="{{ person.firstName ~ ' ' ~ person.lastName }}"/>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding item-person right-side">
                                <div class="container-right">
                                    <article>
                                        <h3>{{ person.firstName ~ ' ' ~ person.lastName }}</h3>
                                        <h4>{{ person.position }}</h4>
                                        <div class="content-person">
                                            {{ person.description|raw }}
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg no-padding item-person-image left-side">
                                {% if person.image is not null %}
                                    <img src="{{ person.path ~ person.image }}" alt="{{ person.firstName ~ ' ' ~ person.lastName }}"/>
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}