{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container offer-details">
        {% if category is not empty %}
            {% for cat in category %}
                {% if cat.ad is not empty %}
                    {% for ad in cat.ad %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-details-item" data-href="{{ path('ad_read', {'pageid': page.id, 'id': ad.id, 'title': ad.urlTitle }) }}">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 place">
                                <p>{{ ad.title }} | {{ ad.times }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 title">
                                <p>{{ ad.attributes | raw }} {{ ad.old is not null ? ' - wiek uczestników.'~ ad.old : ' ' | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-details-item">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 place">
                    <p style="text-align: center;">Brak ofert </p>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock content %}