{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ ad.title}}
{% endblock pageTitle %}
{% block ogg %} 
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ ad.title |raw }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ ad.path }}{{ ad.image }}" />
{% endblock ogg %} 
{% block content %}
    <div class="container ad-read">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
            <a href="{{ path('ad', {'pageid': page.id, 'title': page.seoUrl }) }}" class="back-link" title="Powrót do listy"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
            <h2 class="header-title">{{ ad.title ~ ' - wiek '~ ad.old  |raw }}</h2>
        </div>
        {% if ad.organizer is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Organizator zimowiska</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.organizer |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.attributes is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Charakter obozu</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.attributes |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.place is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Miejsce</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.place  |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.times is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Czas</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.times  |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.old is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Wiek uczestników</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.old  |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.content is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Oferta</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <div class="row-description">{{ ad.content  |raw }}</div>
                    </div>
                </div>
            </div>     
        {% endif %}
        {% if ad.price is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Cena</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <p class="row-description">{{ ad.price  |raw }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.priceHave is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <div class="row-title">Cena zawiera</div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <div class="row-description">{{ ad.priceHave  |raw }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.priceNotHave is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        <p class="row-title">Cena nie zawiera</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <div class="row-description">{{ ad.priceNotHave  |raw }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.lead is not null %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad">
                <div class="raw lead">
                    <h3>Krótka charakterystyka obozu</h3>
                    <div class="full-description">
                        {{ ad.lead |raw}}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ad.photo is not empty %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item-ad files">
                <h3>Dokumenty do pobrania</h3>
                {% for file in ad.photo %}
                    <a href="{{ file.path ~ file.image }}" target="_blank" alt="plik {{ file.name }}">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 file">
                            <div class="flex-v">
                                <div>
                                    <span>
                                        {{ file.name }}
                                    </span>
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}