<nav class="product-nav menu-hide" id="left-product-menu">
    {% set category = get_product_cat_menu() %}
    {% set breadcrumbs = get_breadcrumbs_product() %}
    {% if category is not empty %}
        <ul>
            <li class="normal">
                <a href="{{ path('index') }}" title="Strona główna">Strona główna</a>
            </li>
            <li class="normal">
                <a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl }) }}" title="Zobacz wiecej ze strony  {{ page.slug.name }}">{{ page.slug.name }}</a>
            </li>
            {% for elem in breadcrumbs %}
                <li class="normal">
                    <a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl, 'cat': elem.id}) }}" title="Zobacz wiecej z {{ elem.name }}">{{ elem.name }}</a>
                </li>
            {% endfor %}
            {% for item in category %}
            <li>
                <a href="{{ path('product', {'pageid': page.id, 'title': page.seoUrl, 'cat': item.id}) }}" title="Zobacz wiecej z {{ item.name }}">{{ item.name }}</a>
            </li>
            {%  endfor %}
        </ul>
    {% else %}
        <ul>
            <li>
                <a href="{{ path('index') }}">Brak kategorii</a>
            </li>
        </ul>
    {% endif %}
</nav>