<div class="{{ class }} product-item">
    <div class="row">
        <figure>
            <div class="image" data-href="{{ path('product_read', {'pageid': page.id, 'id': product.id, 'title': product.urlTitle, '_locale': app.request.getLocale() }) }}">
                {% if product.image is not null %}
                    <img src="{{ product.path ~ product.image }}" alt="Produkt {{ product.name }}"/>
                {% else %}
                    <img src="{{ asset('/bundles/miuzepage/gfx/product-image.png') }}" alt="Produkt default-logo"/>
                {% endif %}
            </div>
            <div class="links">
                <a href="{{ path('product_read', {'pageid': page.id, 'id': product.id, 'title': product.urlTitle, '_locale': app.request.getLocale() }) }}" class="btn btn-more">{{ 'read.product' |trans }}</a>
            </div>
            <figcaption>
                <p>{{ product.name |raw }}</p>
                {% if product.priceOnLogin == true and app.user == null %}
                    <div class="price">
                        <p>Cena dostepna po  zalogowaniu</p>
                    </div>
                {% else %}
                    {%if product.price is not null %}
                        <div class="price">
                            {% if product.promoPrice is not null %}
                                <p>Promocja</p>
                            {% endif %}
                            <p>Cena z VAT:<br/><b>{{ product.calcVat(app.user) | number_format(2, '.', ' ') }}zł</b></p>
                        </div>
                        <a class="btn btn-more btn-add-cart" href="{{ path('cart_add', {'id': product.id}) }}">Dodaj do koszyka</a>
                    {% else %}
                        <div class="price">
                            <p>Wycena indywidualna</p>
                        </div>
                        <a class="btn btn-more" href="{{ path('contact', {'id': product.id, 'pageid': 11, 'title': 'kontakt'}) }}">Wyślij zapytanie</a>
                    {% endif %}
                {% endif %}
            </figcaption>
        </figure>
    </div>
</div>