{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
     {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <div class="container">
        <section class="newsletter-page" style="padding-top: 70px;">
            {% for type, messages in app.session.flashbag.all() %}
                {% for msg in messages%}
                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
        </section>
    </div>
    
{% endblock content %}