{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">


    <!-- ABOUT SHELTEK AREA END -->
    {% if list is empty %}
        <!-- ABOUT SHELTEK AREA START -->
        <div class="about-sheltek-area ptb-115">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="section-title mb-30">
                            <h3>Brak</h3>
                            <h2>usług</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <!-- ABOUT SHELTEK AREA START -->
            <div class="about-sheltek-area ptb-115">
                <div class="container">
                    {% for cat in list %}
                        {% if cat.faq is not empty %}
                            {% for post in cat.faq %}
                                {% if loop.index is odd %}
                                    <div class="row mt-40">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="section-title mb-30 mt-80">
                                                <h2>{{ post.title }}</h2>
                                            </div>
                                            <div class="about-sheltek-info">
                                                {{ post.content|raw }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            {% if post.image is not null %}
                                                <div class="about-image">
                                                    <img src="{{ post.path ~ post.image }}" alt="{{ post.title }}">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row mt-40">
                                        <div class="col-sm-6 col-xs-12">
                                            {% if post.image is not null %}
                                                <div class="about-image">
                                                    <img src="{{ post.path ~ post.image }}" alt="{{ post.title }}">
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="section-title mb-30 mt-80">
                                                <h2>{{ post.title }}</h2>
                                            </div>
                                            <div class="about-sheltek-info">
                                                {{ post.content|raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {{  render_newsletter()  }}
    </section>
{% endblock content %}