{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    {% set places = [] %}
    <div class="place">
        {% if category is empty %}
            <div class="alert alert-danger">
                Brak placówke
            </div>
        {% else %}
            {% for cat in category %}
                {% if cat.place is not empty %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 category-place">
                        <div class="row">
                            <h2>{{ cat.title }}</h2>
                            {% for place in cat.place %}
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 item-place">
                                    <div class="flex-article">
                                        <article>
                                            <h4 class="company-name">{{ place.name }}</h4>
                                            <div class="hover-content">
                                                <p>{{ place.address }}</p>
                                                <div class="content-company">
                                                    {{ place.description |raw }}
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                {% set places = places |merge([{'lat': place.lat, 'lng': place.lng, 'name': place.name, 'address': place.address, 'phone': place.phone is not null ? place.phone : '' }])  %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if places is not empty %}
            <script> 
                var places = {{ places |json_encode() |raw }}
            </script>
            <div class="row placemap" id="map-place"></div>
        {% endif %}
    </div>
{% endblock content %}
{% block js %}
    <script src="{{ asset('bundles/miuzepage/js/place-map.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_bFkFH3niVY-dBwauaOy-Mi_twoUTviw&callback=initMap" type="text/javascript"></script>
    {{ parent() }}
{% endblock js%}