{# empty Twig template #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'save-form', 'novalidate': 'novalidate'} }) }}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_label(form.tel) }}
            {{ form_widget(form.tel) }}
            {{ form_errors(form.tel) }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}                           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}                           
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_widget(form.submit) }}  
        </div>
    </div>

{{ form_end(form)}}