{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container save-page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-content">
            <div class="row">
                {% for section in page.sections %}
                    {{ section.content|raw }}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-form">
            <div>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for msg in messages%}
                        <div class="alert alert-{{ type }}">{{ msg }}</div>
                    {% endfor %}
                {% endfor %}
                <h1>Rejestracja on-line</h1>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(form, {'attr': {'class': 'save-form', 'novalidate': 'novalidate'} }) }}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_label(form.firstName) }}
                            {{ form_widget(form.firstName) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_label(form.lastName) }}
                            {{ form_widget(form.lastName) }}
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_label(form.tel) }}
                            {{ form_widget(form.tel) }}
                            {{ form_errors(form.tel) }}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                            {{ form_errors(form.date) }}                           
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            {{ form_widget(form.submit) }}  
                        </div>
                    </div>
                        
                {{ form_end(form)}}
            </div>
        </div>
    </div>
{% endblock content %}