{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">
        {{ render_flat_search_form(16) |raw }}
        <!-- FEATURED FLAT AREA START -->
        <div class="featured-flat-area pt-115 pb-60">
            <div class="container">
                <div class="featured-flat">
                    <div class="row">
                        {% if result is not empty %}
                            {% for item in result %}
                                {{ render_flat_item(11, item) }}
                            {% endfor %}
                            <div class="col-xs-12">
                                {{ knp_pagination_render(result, '@MiuzeAdmin/Pagination/miuze_pagination.html.twig') }}
                            </div>
                        {% else %}
                            <h4>Brak wyników dla podanych parametrów.</h4>
                        {% endif %}
                        <!-- pagination-area -->

                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURED FLAT AREA END -->
        {{ render_newsletter() |raw }}
    </section>

{% endblock content %}