{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-newspaper-o"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj zamówienie
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <fieldset>
                    <legend>{{ form_label(form.buyer) }}</legend>
                    <ul id="email-fields-list" data-prototype="{{ form_widget(form.carts.vars.prototype)|e }}">
                        {% for tagsField in form.buyer %}
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                {{ form_widget(tagsField.firstName) }}
                                {{ form_errors(tagsField.firstName) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                {{ form_widget(tagsField.lastName) }}
                                {{ form_errors(tagsField.lastName) }}
                            </div>
                        {% endfor %}
                    </ul>
                    <a href="#" id="add-another-email" class="btn btn-success">Dodaj nowy produkt</a>
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.carts) }}</legend>
                    <ul id="email-fields-list" data-prototype="{{ form_widget(form.carts.vars.prototype)|e }}">
                        {% for tagsField in form.carts %}
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                {{ form_widget(tagsField.product) }}
                                {{ form_errors(tagsField.product) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                {{ form_widget(tagsField.quantity) }}
                                {{ form_errors(tagsField.quantity) }}
                            </div>
                        {% endfor %}
                    </ul>
                    <a href="#" id="add-another-email" class="btn btn-success">Dodaj nowy produkt</a>
                </fieldset>


            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}

{% block js %}
    <script src="/bundles/miuzeadmin/js/chosen/chosen.proto.min.js"></script>
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.carts|length }}';
        $('.chosen-select').chosen({});

        $(document).ready(function() {
            $('#add-another-email').click(function(e) {
                e.preventDefault();

                var emailList = $('#email-fields-list');

                // grab the prototype template
                var newWidget = emailList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(emailList);
            });
        })
    </script>
{% endblock js %}