{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-newspaper-o"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Zamówienia moich klientów
                </li>
            </ol>
        </div>
    </div>
            <div class="col-sm-12 col-md-12 col-lg-12 list">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                {% if list is empty %}
                    <div class="item-list">
                        <article>
                            <p>Brak zamówień</p>
                        </article>
                    </div>
                {% else %}
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Data sprzedaży</td>
                                <td>Sesja</td>
                                <td>Klient</td>
                                <td>Cena</td>
                                <td>Akcja</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.createDate | date('d-m-Y') }}</td>
                                    <td>{{ item.session }}</td>
                                    <td>bd</td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('admin_cart_details', {'id': item.id }) }}">Szczeguły</a>
                                        <a class="btn btn-success" href="{{ path('admin_cart_ready') }}">Gotowe</a>
                                        <a class="btn btn-danger" href="{{ path('admin_cart_closeBuyer') }}">Zakończ</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
{% endblock content %}