<div class="pro-details-agent">
    <h5>Osoba do kontaktu</h5>
    <div class="single-agent">
        <div class="agent-image">
            <img src="{{ person.path ~ person.image }}" alt="{{ person.firstName ~ ' ' ~ person.lastName }}">
        </div>
        <div class="agent-info">
            <div class="agent-name">
                <h5>{{ person.firstName ~ ' ' ~ person.lastName }}</h5>
                <p>{{ person.position }}</p>
            </div>
        </div>
        <div class="agent-info-hover">
            <div class="agent-name">
                <h5>{{ person.firstName ~ ' ' ~ person.lastName }}</h5>
                <p>{{ person.position }}</p>
            </div>
            <ul class="agent-address">
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/phone-2.png') }}" alt="">
                    <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
                </li>
                <li>
                    <img src="{{ asset('bundles/miuzepage/images/icons/mail-close.png') }}" alt="">
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                </li>
            </ul>
            {#<ul class="social-media">#}
                {#<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
                {#<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
                {#<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
                {#<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
            {#</ul>#}
        </div>
    </div>
</div>