    <section id="our-place" class="section-scroll">
        <div class="flex-v">
            <div class="width-100">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 bg-image1">
                    <div class="raw">
                        <div class="container-left">
                            <h3>
                                <span>Odwiedź</span>
                                <br/>Naszą siedzibę
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros magna, fermentum et nisi id, consequat porttitor elit. Maecenas tincidunt neque in quam efficitur, sit amet varius diam condimentum. Duis dapibus tortor eros, sed tristique libero sodales ac. Nullam tortor augue, condimentum et ligula eu, efficitur suscipit dolor
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 bg-image2">
                    <div class="raw">
                        <div class="container-right">
                            <h3>
                                <span>Odwiedź</span>
                                <br/>Nasz sklep
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros magna, fermentum et nisi id, consequat porttitor elit. Maecenas tincidunt neque in quam efficitur, sit amet varius diam condimentum. Duis dapibus tortor eros, sed tristique libero sodales ac. Nullam tortor augue, condimentum et ligula eu, efficitur suscipit dolor
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section : ourteam -->
    {% set banners = banners(1) %}
    {% if banners is not empty %}
        <section id="section-partners" class="section-scroll">
                <div class="container">
                    {#<div class="col-xs-12">
                        <h2>
                            <span>Nasi</span>
                            <br/>partnerzy:
                        </h2>
                    </div>#}
                    <div class="col-xs-12">
                        <div id="wrapper">
                            <div id="carousel3">
                                {% for banner in banners %}
                                    <div class="slide" {{ banner.url is not null ? 'data-open="'~ banner.url ~ '"' : '' }}>
                                        <img src="{{ banner.path~banner.image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                            <a id="prev" href="#"></a>
                            <a id="next" href="#"></a>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
        </section>
    {% endif %}