<!-- BREADCRUMBS AREA START -->
<div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs">
                    {% set breadcrumbs = get_page_breadcrumbs(page) %}
                    <h2 class="breadcrumbs-title">{{ page.slug.name }}</h2>
                    <ul class="breadcrumbs-list">
                        <li><a href="{{ path('index') }}">Strona główna</a></li>
                        {% if breadcrumbs is not null %}
                            {% for breadcrumb in breadcrumbs %}
                                <li>{{ breadcrumb.title }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS AREA END -->