<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/bootstrap-sliders.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/carousel.css')}}"/>	
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/hover-min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/style.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/miuzepage/css/lightbox.css')}}"/>