<!-- jquery latest version -->
<script src="{{ asset('bundles/miuzepage/js/vendor/jquery-3.1.1.min.js') }}"></script>
<!-- Bootstrap framework js -->
<script src="{{ asset('bundles/miuzepage/js/bootstrap.min.js') }}"></script>
<!-- Nivo slider js -->
<script src="{{ asset('bundles/miuzepage/lib/js/jquery.nivo.slider.js') }}"></script>
<!-- ajax-mail js -->
<script src="{{ asset('bundles/miuzepage/js/ajax-mail.js') }}"></script>
<!-- All js plugins included in this file. -->
<script src="{{ asset('bundles/miuzepage/js/plugins.js') }}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{{ asset('bundles/miuzepage/js/main.js') }}"></script>