{% set places = get_places(1, 2) %}
<header class="header-area header-wrapper">
    <div class="header-top-bar bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{ asset('bundles/miuzepage/images/logo/logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
                {% for place in places %}
                <div class="col-md-5 hidden-sm hidden-xs">
                    <div class="company-info clearfix">
                        <div class="company-info-item">
                            <div class="header-icon">
                                <img src="{{ asset('bundles/miuzepage/images/icons/phone.png') }}" alt="">
                            </div>
                            <div class="header-info">
                                <h6>{{ 'phone'|trans({}, 'MiuzePageBundle') }}</h6>
                                <p><a href="tel:{{ place.phone }}">{{ place.phone }}</a></p>
                            </div>
                        </div>
                        <div class="company-info-item" style="padding-left: 0%;">
                            <div class="header-icon">
                                <img src="{{ asset('bundles/miuzepage/images/icons/mail-open.png') }}" alt="">
                            </div>
                            <div class="header-info">
                                <h6><a href="mailto:{{ place.email }}">{{ place.email }}</a></h6>
                                <p>{{ 'email'|trans({}, 'MiuzePageBundle') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
                    {#<div class="header-search clearfix">#}
                        {#<form action="#">#}
                            {#<button class="search-icon" type="submit">#}
                                {#<img src="{{ asset('bundles/miuzepage/images/icons/search.png') }}" alt="">#}
                            {#</button>#}
                            {#<input type="text" placeholder="Search...">#}
                        {#</form>#}
                    {#</div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
        <div class="container">
            <div class="full-width-mega-drop-menu">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sticky-logo">
                            <a href="index.html">
                                <img src="images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <nav id="primary-menu">
                            {{ menu_top() }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER AREA END -->
<!-- MOBILE MENU AREA START -->
<div class="mobile-menu-area hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        {{ menu_mobile(1) }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE MENU AREA END -->