    <nav class="navbar-base">
        <div class="hamburger-wrapper">
            <div data-tog="left-menu" class="hamburger-slim"></div>
        </div>
        {% if page is defined %}
            {% if page.type == 'product' %}
                <div class="burger-block">
                    <div data-tog="left-product-menu" id="menu-btn">
                        <span class="icon"></span>
                        <span class="text">Produkty</span>
                    </div>
                </div>
                {% endif %}
        {% endif %}
        <ul>
            {{ menu_aside() }}
        </ul>
    </nav>