{% set slider = banners(1) %}
{% if slider is not empty %}
    <!-- SLIDER SECTION START -->
    <div class="slider-1 pos-relative slider-overlay">
        <div class="bend niceties preview-1">
            <div id="ensign-nivoslider-3" class="slides">
                {% for slide in slider %}
                <img src="{{ slide.path ~ slide.image }}" alt="" title="#slider-direction-{{ slide.id }}"  />
                {% endfor %}
            </div>
            {% for slide in slider %}
            <!-- direction 1 -->
            <div id="slider-direction-1" class="slider-direction">
                <div class="slider-content text-center">
                    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h4 class="slider-1-title-1">{{ slide.title }}</h4>
                    </div>
                    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <h1 class="slider-1-title-2">{{ slide.subTitle }}</h1>
                    </div>
                    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                        <p class="slider-1-desc">
                            {{ slide.content |raw }}
                        </p>
                    </div>
                    {#<div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">#}
                        {#<a class="slider-button mt-40" href="#">Read More</a>#}
                    {#</div>#}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- SLIDER SECTION END -->

{% endif %}