{% if page.top is not null %}
    <!-- BREADCRUMBS AREA START -->
    <div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70" style="background: rgba(0, 0, 0, 0) url({{ page.top.path ~ page.top.image }}) no-repeat scroll 0 0 / cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs">
                        {% set breadcrumbs = get_page_breadcrumbs(page) %}
                        <h2 class="breadcrumbs-title">{{ page.slug.name }}</h2>
                        <ul class="breadcrumbs-list">
                            <li><a href="{{ path('index') }}">Strona główna</a></li>
                            {% if breadcrumbs is not null %}
                                {% for breadcrumb in breadcrumbs %}
                                    <li><a href="{{ path('subpage', {'pageid': breadcrumb.id, 'title': breadcrumb.seoUrl }) }}" title="{{ breadcrumb.title }}">{{ breadcrumb.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                            {% block breadcrumbs %}
                            {%  endblock breadcrumbs %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS AREA END -->
{% endif %}
