<!-- Start footer area -->
<footer id="footer" class="footer-area bg-opacity-black-90 bg-2">
    <div class="footer-top pt-110 pb-80">
        <div class="container">
            <div class="row">
                <!-- footer-address -->
                {% set places = get_places(1, 2) %}
                {% for place in places %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h6 class="footer-titel">{{ place.name }}</h6>
                            <ul class="footer-address">
                                <li>
                                    <div class="address-icon">
                                        <img src="{{ asset('bundles/miuzepage/images/icons/location-2.png') }}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>{{ place.address }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <img src="{{ asset('bundles/miuzepage/images/icons/phone-3.png') }}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>Telefon: <a href="tel:{{ place.phone }}">{{ place.phone }}</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <img src="{{ asset('bundles/miuzepage/images/icons/world.png') }}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>Email : <a href="mailto:{{ place.email }}">{{ place.email }}</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <!-- footer-contact -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h6 class="footer-titel">{{ 'fast_contact'| trans({}, 'MiuzePageBundle') }}</h6>
                        <div class="footer-contact">
                            <p>{{ 'contact_form_accept'|trans({}, 'MiuzePageBundle')|raw }}</p>
                            {{ render_fast_contact() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright text-center">
                        <p>Realizacja <a href="http:miuze.pl"><b>Miuze.pl</b></a></p>
                        <p>Copyright &copy; 2018 <a href="#"><b>{{ get_Param('company_name') }}</b></a>. Wszelkie prawa
                            zastrzeżone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer area -->
