{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Oferty
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-paper-plane"></i> Oferty
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Edytuj ofertę
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
                            <fieldset>
                                <legend>{{ form_label(form.email) }}</legend>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </fieldset>
                            <fieldset>
                                <legend>Produkty{{ form_label(form.productItems) }}</legend>
                                <div class="col-sm-12">
                                    <ul id="product-fields-list" data-prototype="{{ form_widget(form.productItems.vars.prototype)|e }}">
                                        {% for tagsField in form.productItems %}
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                                    {{ form_widget(tagsField.product) }}
                                                    {{ form_errors(tagsField.product) }}
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                    {{ form_widget(tagsField.quantity) }}
                                                    {{ form_errors(tagsField.quantity) }}
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                    {{ form_widget(tagsField.price) }}
                                                    {{ form_errors(tagsField.price) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-12">
                                    <a href="#" id="add-another-product" class="btn btn-success">Dodaj nowy produkt</a>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>{{ form_label(form.content) }}</legend>
                                {{ form_widget(form.content) }}
                                {{ form_errors(form.content) }}
                            </fieldset>
                        </div>
                        <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                            <fieldset>
                                <legend>Akcje</legend>
                                <div class="pull-right">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>{{ form_label(form.subscriber) }}</legend>
                                {{ form_widget(form.subscriber) }}
                                {{ form_errors(form.subscriber) }}
                            </fieldset>
                        </div>
            {{ form_end(form)}}
    </div>

{% endblock content %}


{% block js %}
    <script src="{{ asset('bundles/miuzeadmin/js/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/chosen/chosen.proto.min.js') }}"></script>
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var productCount = '{{ form.productItems|length }}';
        $('.chosen-select').chosen({});

        $(document).ready(function() {
            $('#add-another-product').click(function (e) {
                e.preventDefault();

                var emailList = $('#product-fields-list');

                var newWidget = emailList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, productCount);
                newWidget = newWidget + '<div class="col-md-12"><span class="btn-remove btn btn-danger pull-right" data-del="order_carts_' + productCount + '">Usuń</span></div>';
                var newLi = $('<li></li>').html(newWidget);
                productCount++;
                newLi.appendTo(emailList);
                $('.chosen-select').chosen({}).change(function(event, params){

                    if(event.target == this){
                        numProd = productCount -1;
                        var price = $(this).find(":selected").data('price');
                        $('#offer_template_productItems_'+numProd+'_quantity').val(1);
                        $('#offer_template_productItems_'+numProd+'_price').val(price);
                    }

                });
            });
            $('.btn-remove').on('click', function () {
                console.log('click');
                var idName = $(this).data('del');
                $('#' + idName).parent().remove();
            });
        });
    </script>
{% endblock js %}