{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1 class="page-header">
                    Oferty
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {#<div class="pull-right">
                    <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                        <input type="hidden" name="sort" id="sort" value="" />
                    </form>
                        <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                    {% set menu = app.request.get('menu') %}
                    <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
                </div>#}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-paper-plane"></i> Oferty
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Lista ofert
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 list">
            {% if pagination is not empty %}
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</td>
                            <td>{{ knp_pagination_sortable(pagination, 'Email', 'o.email') }}</td>
                            <td>{{ knp_pagination_sortable(pagination, 'Data wystawienia', 'o.date') }}</td>
                            <td>Akcje</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in pagination %}
                            <tr>
                                <td>{{ offer.id }}</td>
                                <td>{{ offer.email }}</td>
                                <td>{{ offer.date | date('d-m-Y')}}</td>
                                <td>
                                    <a href="{{ path('admin_offer_details', {'id': offer.id}) }}" title="Podgląd"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="{{ path('admin_offer_edit', {'id': offer.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="{{ path('admin_offer_send', {'id': offer.id}) }}" title="Wyślij"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                                    <a href="{{ path('admin_offer_delete', {'id': offer.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
            {% else %}
                <div class="alert alert-warning">Brak ofert</div>
            {% endif %}
        </div>
{% endblock content %}