{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <section id="page-content" class="page-wrapper">

        <!-- FEATURED FLAT AREA START -->
        <div class="featured-flat-area pt-115 pb-60">
            <div class="container">
                <div class="featured-flat">
                    {% if pagination is not empty %}
                        {% for item in pagination %}
                            {{ render_flat_item(page, item) }}
                        {% endfor %}
                        <div class="col-xs-12">
                            {{ knp_pagination_render(pagination, '@MiuzeAdmin/Pagination/miuze_pagination.html.twig') }}
                        </div>
                    {% else %}
                        <h4>Brak nieruchomości.</h4>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- FEATURED FLAT AREA END -->
        {{ render_newsletter() |raw }}
    </section>
{% endblock content %}