{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ page.slug.name}} | {{ parent()}}
{% endblock pageTitle %}
{% block content %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- PROPERTIES DETAILS AREA START -->
        <div class="properties-details-area pt-115 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- pro-details-image -->
                        <div class="pro-details-image mb-60">
                            <div class="pro-details-big-image">
                                <div class="tab-content">
                                    {% for photo in flat.photo %}
                                        <div role="tabpanel" class="tab-pane fade {{ loop.index0 == 0 ? 'in active': '' }}" id="pro-{{ photo.id }}">
                                            <a href="{{ photo.path ~ photo.image }}" data-lightbox="image-{{ photo.id }}" data-title="{{ flat.name }} - {{ photo.id }}">
                                                <img src="{{ photo.path ~ photo.image }}" alt="">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pro-details-carousel">
                                {% for photo in flat.photo %}
                                    <div class="pro-details-item">
                                        <a href="#pro-{{ photo.id }}" data-toggle="tab"><img src="{{ photo.path ~ photo.image }}" alt=""></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- pro-details-short-info -->
                        <div class="pro-details-short-info mb-60">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="pro-details-condition">
                                        <h5>Podstawowe informacje</h5>
                                        <div class="pro-details-condition-inner bg-gray">
                                            <ul class="condition-list">
                                                <li><img src="{{ asset('bundles/miuzepage/images/icons/4.png') }}" alt="">{{ flat.area }}m<sup>2</sup></li>
                                                <li><img src="{{ asset('bundles/miuzepage/images/icons/5.png') }}" alt="">Pokoje {{ flat.room }}</li>
                                                <li><img src="{{ asset('bundles/miuzepage/images/icons/6.png') }}" alt="">Łazienka {{ flat.bathroom }}</li>
                                                <li><img src="{{ asset('bundles/miuzepage/images/icons/13.png') }}" alt="">Garaże {{ flat.garage }}</li>
                                                <li>{{ flat.price | number_format(2, ',', ' ') }} zł</li>
                                            </ul>
                                            <p><img src="{{ asset('bundles/miuzepage/images/icons/location.png') }}" alt="">{{ flat.build is not null ? flat.build.address : '' }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    {% if flat.lead is not null %}
                                    <div class="pro-details-amenities">
                                        <h5>Dodatki</h5>
                                        <div class="pro-details-amenities-inner bg-gray ul-custom">
                                            {{ flat.lead |raw }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- pro-details-description -->
                        <div class="pro-details-description mb-50">
                            {{ flat.content |raw }}
                        </div>
                        <!-- agent-review -->
                        <div class="pro-details-agent-review">
                            <div class="row">
                                <!-- single-agent -->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ render_person(1) }}
                                </div>
                                <!-- leave-massage -->
                                <div class="col-md-6  col-sm-6 col-xs-12">
                                    <div class="leave-review">
                                        <h5>Zostaw wiadomość</h5>
                                        {{ render_fast_contact('Zapytanie o nieruchomość '~flat.name~'. Witam chciałem zapytać o ...', 'form-flat.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{ render_flat_search_form(16, 'form.html.twig') }}
                        <!-- widget-featured-property -->
                        <aside class="widget widget-featured-property">
                            <h5>Ostatnio dodane</h5>
                            <div class="row">
                                {{ flat_get_last_flats(16, 6, 'flat-fullwidth.html.twig') }}
                            </div>
                        </aside>
                        {#<!-- widget-video -->#}
                        {#<aside class="widget widget-video">#}
                            {#<h5>Take A Look</h5>#}
                            {#<div class="properties-video">#}
                                {#<div class="embed-responsive embed-responsive-16by9">#}
                                    {#<!-- <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/40934652"></iframe> -->#}
                                    {#<iframe src="https://player.vimeo.com/video/117765418?title=0&byline=0&portrait=0" allowfullscreen></iframe>#}
                                {#</div>#}
                            {#</div>#}
                        {#</aside>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- PROPERTIES DETAILS AREA END -->

        {{ render_newsletter() }}
    </section>
    <!-- End page content -->


{% endblock content %}
{% block js %}
    {{ parent() }}
    <script>
        var lists = $('.ul-custom').find('ul');

        lists.each(function(key, item){
            console.log(item);
            $(item).addClass('amenities-list');
        });
    </script>
{% endblock js %}
