{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Wersje językowe
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Wersje językowe
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Dodaj wersję językową
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Podstawowe dane
                    </div>
                    <div class="panel-body">
                        {{ form_label(form.lang) }}
                        {{ form_widget(form.lang) }}
                        {{ form_errors(form.lang) }}
                    </div>
                    <div class="panel-footer">
                        {{ form_widget(form.submit) }}  
                    </div>
                </div>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}