{% extends "@MiuzeAdmin//base.html.twig" %}
{% block content %}

    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Strony
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-sitemap"></i> <a href="">Strony</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj stronę
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ustawienia treści
                </div>
                <div class="panel-body">
                    {{ form_label(form.slug.name) }}
                    {{ form_widget(form.slug.name) }}
                    {{ form_errors(form.slug.name) }}
                    {{ form_label(form.subtitle) }}
                    {{ form_widget(form.subtitle) }}
                    {{ form_errors(form.subtitle) }}
                    <div>
                        {{ form_label(form.lead) }}
                        {{ form_widget(form.lead) }}
                        {{ form_errors(form.lead) }}
                        <a href="!#" class="render-editor btn btn-info" data-toggle="#{{ form.lead.vars["id"] }}">Załącz
                            edytor</a>
                    </div>
                </div>
            </div>
            {% if isEdit is defined %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Sekcje <a href="{{ path('admin_section_add', {'id': page.id}) }}"
                                  class="btn btn-success btn-sm" title="Dodaj sekcję">Dodaj sekcję <i
                                    class="fa fa-puzzle-piece"></i> </a>
                    </div>
                    <div class="panel-body">
                        {% if sections is not empty %}
                            <ul class="sortables">
                                {% for section in page.sections %}
                                    <li>
                                        <div class="row">
                                            {{ section.content|raw }}
                                        </div>
                                        <div class="row">
                                            <a href="{{ path('admin_section_edit', {'id': section.id }) }}" class="btn btn-warning btn-sm">Edytuj</a>
                                            <a href="{{ path('admin_section_delete', {'id': section.id }) }}" class="btn btn-danger btn-sm confirm">Usuń</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Właściwości strony
                </div>
                <div class="panel-body">
                    {{ form_label(form.visable) }}
                    {{ form_widget(form.visable) }}
                    {{ form_errors(form.visable) }}
                    {{ form_label(form.active) }}
                    {{ form_widget(form.active) }}
                    {{ form_errors(form.active) }}
                    {{ form_label(form.link) }}
                    {{ form_widget(form.link) }}
                    {{ form_errors(form.link) }}
                    <h3>Wygląd</h3>
                    <hr/>
                    {{ form_label(form.pageid) }}
                    {{ form_widget(form.pageid) }}
                    {{ form_errors(form.pageid) }}
                    {{ form_label(form.class) }}
                    {{ form_widget(form.class) }}
                    {{ form_errors(form.class) }}
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type) }}
                    {{ form_errors(form.type) }}
                    {{ form_label(form.layout) }}
                    {{ form_widget(form.layout) }}
                    {{ form_errors(form.layout) }}
                    {{ form_label(form.view) }}
                    {{ form_widget(form.view) }}
                    {{ form_errors(form.view) }}
                    <h3>Seo</h3>
                    <hr/>
                    {{ form_label(form.seoDescription) }}
                    {{ form_widget(form.seoDescription) }}
                    {{ form_errors(form.seoDescription) }}
                </div>
                <div class="panel-footer">
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.saveAndEdit) }}
                    {% if isEdit is defined %}
                    <a class="btn btn-info" href="{{ path('subpage', {'slug': page.slug.slug}) }}" target="_blank">Podgląd</a>
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}