<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="Miuze Creative WebDesign">
   

    <title>Miuze Admin CMS</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheet %}
        
            <link href="{{ asset('bundles/miuzeadmin/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{ asset('bundles/miuzeadmin/css/style.css')}}" rel="stylesheet">
    {% endblock stylesheet %}
    
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          {% include '@MiuzeAdmin/common/navbar.html.twig'%}
          {% include '@MiuzeAdmin/common/sidebar.html.twig'%}
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">  
                <div class="row">

                    {% block content %}

                    {% endblock content %}


                </div>
            </div>   
        </div>
        {% include '@MiuzeAdmin/common/footer_wrapper.html.twig' %}
        {% block js %}
        {% endblock js %}
        {% include '@MiuzeAdmin/common/messages.html.twig' %}
    </div>
    {% include '@MiuzeAdmin/common/modal.html.twig' %}
</body>
</html>