{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Pulpit
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="pull-right">
{#                {% set menu = app.request.get('menu') %}#}
{#                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>#}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-sitemap"></i>  <a href="">Pulpit</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 main">
        <div class="col-sm-12 col-md-12 col-lg-12 list">
                <div class="item-list">
                    <article>
                        <p>Wybierz ocje z menu po lewej</p>
                    </article>
                </div>
        </div>
    </div>
{% endblock content %}