{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Referencje
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-tasks"></i> Referencje
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista referencji
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if list is empty %}
            <div class="item-list">
                <article>
                    <p>Brak wpisów</p>
                </article>
            </div>
        {% else %}
            {% for news in list %}
                <div class="item-list">
                    <article>
                        <p class="title-item">{{ news.name }}</p>
                        <a href="{{ path('admin_reference_edit', {'id': news.id}) }}" title="Edytuj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="{{ path('admin_reference_delete', {'id': news.id}) }}" title="Usuń" class="confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>                           
                    </article>
                </div>      

            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}