{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Strony
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-sitemap"></i>  <a href="">Strony</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj menu
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9">
                <fieldset>
                    <legend>Dane podstawowe</legend>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_label(form.lang) }}
                    {{ form_widget(form.lang) }}
                    {{ form_errors(form.lang) }}
                    {{ form_label(form.removed) }}
                    {{ form_widget(form.removed) }}
                    {{ form_errors(form.removed) }}
                </fieldset>
            </div>
            <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3">
                <fieldset>
                    <legend>Akcje</legend>
                    <div class="pull-right">
                        {{ form_widget(form.submit) }}
                    </div>
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}