{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Menu
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="pull-right">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-sitemap"></i>  <a href="">Menu</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Lista menu
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 main">
        <div class="col-sm-12 col-md-12 col-lg-12 list">
            {% if manuList is empty %}
                <div class="item-list">
                    <article>
                        <p>Brak stron</p>
                    </article>
                </div>
            {% else %}
                    <ol>
                        {% for menu in manuList %}
                            <li>
                                <article class="dd-handle item-list">
                                    <p class="title-item">{{ menu.title }} [{{ menu.lang.lang }}]</p>
                                    <a href="{{ path('admin_pagescategory_add', {'id': menu.id}) }}" title="Edytuj" class="fa fa-pencil-square-o"></a>
                                    <a href="{{ path('admin_pages_index', {'menu': menu.id}) }}"  title="Lista" class="fa fa-list"></a>
                                    <a href="{{ path('admin_pages_add', {'menu': menu.id}) }}"  title="Dodaj" class="fa fa-plus"></a>
                                    <a href="{{ path('admin_pagescategory_delete', {'id': menu.id}) }}"  title="Usuń" class="confirm fa fa-trash"></a>
                                </article>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}