{# empty Twig template #}
<select class="lang" style="margin-top: 17px;">
{#    <option value="pl" data-t="{{ path('admin_lang_lang', {'lang': 'pl' }) }}">Polski</option>#}
{% for lang in langs %}
    <option value="{{ lang.lang }}" data-t="{{ path('admin_lang_lang', {'lang': lang.lang }) }}" {{ app.request.getLocale() == lang.lang ? 'selected': '' }}>{{ lang.lang }}</option>
{% endfor %}
</select>