{% extends "@MiuzeAdmin/EmailTemplate/base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Aby aktywować newsletter kliknij w link poniżej:
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <a href="{{ urlactivation }}">{{ urlactivation }}</a>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}