<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pl"><head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    
    <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0; padding: 0; background-color: #fff;">

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td colspan="3" style="height: 5px; background-color: #222422"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 20px;"></td>
            </tr>
            <tr>
                <td style="width: 25px;"></td>
                <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 32px; color: #484848;">{% block header %}Dziękuję za zgłoszenie{% endblock %}</td>
                <td style="width: 25px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 30px;"></td>
            </tr>
            
            {% block content %}{% endblock %}

            <tr>
                <td colspan="3" style="height: 55px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 5px; background-color: #222422"></td>
            </tr>
            
        </table>
    </body>
</html>