{% extends "MiuzeAdminBundle:EmailTemplate:base.html.twig" %}
{% block header %}Dziękujemy za zakup{% endblock %}
{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Imię i nazwisko: {{ buyer.firstName ~ ' ' ~ buyer.lastName }}        
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>
            <b>Dane do wysyłki:</b>
            <br>{{ buyer.street ~' '~ buyer.homeNumber }}
            <br>{{ buyer.postCode ~' '~ buyer.city }}
        </p>
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>Suma należności za zakupy: {{ buyer.price }} zł</p>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}