{% extends "@MiuzeAdmin/EmailTemplate/base.html.twig" %}
{% block header %}Dziękuję za wiadomość{% endblock %}
{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Wiadomość o tytule: {{ contact.title }}        
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>z adresu: {{ contact.email }}</p>
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>O treści: <br>{{ contact.content }}</p>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}