{% extends "MiuzeAdminBundle:EmailTemplate:base.html.twig" %}
{% block header %}Prośba o wycenę zestawienia materiałów{% endblock %}
{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        Imię i nazwisko: {{ cv.firstName ~ ' ' ~ cv.lastName }} 
        <br>Telefon: {{ cv.phone }}
        <br>Email: {{ cv.email }}
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>Treść wiadokości <br>{{ cv.content }}</p>
    </td>
    <td style="width: 25px;">Zestawienie w załączniku.</td>
</tr>
{% endblock %}