<!DOCTYPE html>
<html lang="it">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Oferta Sklep SILESIATECH</title>
        <!--
        
        
        COLORE INTENSE  #00a0e3
        COLORE LIGHT #EDE8DA
        
        TESTO LIGHT #3F3D33
        TESTO INTENSE #ffffff 
        
        
        --><meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <style type="text/css">#ko_onecolumnBlock_4 .textintenseStyle a, #ko_onecolumnBlock_4 .textintenseStyle a:link, #ko_onecolumnBlock_4 .textintenseStyle a:visited, #ko_onecolumnBlock_4 .textintenseStyle a:hover {color: #fff;color: ;text-decoration: none;text-decoration: none;font-weight: bold;}
            #ko_onecolumnBlock_4 .textlightStyle a, #ko_onecolumnBlock_4 .textlightStyle a:link, #ko_onecolumnBlock_4 .textlightStyle a:visited, #ko_onecolumnBlock_4 .textlightStyle a:hover {color: #3f3d33;color: ;text-decoration: none;text-decoration: ;font-weight: bold;}
            #ko_compactarticlerightBlock_6 .articletextintenseStyle a, #ko_compactarticlerightBlock_6 .articletextintenseStyle a:link, #ko_compactarticlerightBlock_6 .articletextintenseStyle a:visited, #ko_compactarticlerightBlock_6 .articletextintenseStyle a:hover {color: #fff;color: ;text-decoration: none;text-decoration: none;font-weight: bold;}
            #ko_compactarticlerightBlock_6 .articletextlightStyle a, #ko_compactarticlerightBlock_6 .articletextlightStyle a:link, #ko_compactarticlerightBlock_6 .articletextlightStyle a:visited, #ko_compactarticlerightBlock_6 .articletextlightStyle a:hover {color: #3f3d33;color: ;text-decoration: none;text-decoration: none;font-weight: bold;}
            #ko_compactarticleBlock_5 .articletextintenseStyle a, #ko_compactarticleBlock_5 .articletextintenseStyle a:link, #ko_compactarticleBlock_5 .articletextintenseStyle a:visited, #ko_compactarticleBlock_5 .articletextintenseStyle a:hover {color: #fff;color: ;text-decoration: none;text-decoration: none;font-weight: bold;}
            #ko_compactarticleBlock_5 .articletextlightStyle a, #ko_compactarticleBlock_5 .articletextlightStyle a:link, #ko_compactarticleBlock_5 .articletextlightStyle a:visited, #ko_compactarticleBlock_5 .articletextlightStyle a:hover {color: #3f3d33;color: ;text-decoration: none;text-decoration: none;font-weight: bold;}</style>
        <style type="text/css">
            /* CLIENT-SPECIFIC STYLES */
            #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
            .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height: 100%;} /* Force Hotmail to display normal line spacing */
            body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
            table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
            img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

            /* RESET STYLES */
            body{margin:0; padding:0;}
            img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
            table{border-collapse:collapse !important;}
            body{height:100% !important; margin:0; padding:0; width:100% !important;}

            /* iOS BLUE LINKS */
            .appleBody a{color:#68440a; text-decoration: none;}
            .appleFooter a{color:#999999; text-decoration: none;}

            /* MOBILE STYLES */
            @media screen and (max-width: 525px) {

                /* ALLOWS FOR FLUID TABLES */
                table[class="wrapper"]{
                    width:100% !important;
                    min-width:0px !important;
                }

                /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
                td[class="mobile-hide"]{
                    display:none;}

                img[class="mobile-hide"]{
                    display: none !important;
                }

                img[class="img-max"]{
                    width:100% !important;
                    max-width: 100% !important;
                    height:auto !important;
                }

                /* FULL-WIDTH TABLES */
                table[class="responsive-table"]{
                    width:100%!important;
                }

                /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
                td[class="padding"]{
                    padding: 10px 5% 15px 5% !important;
                }

                td[class="padding-copy"]{
                    padding: 10px 5% 10px 5% !important;
                    text-align: center;
                }

                td[class="padding-meta"]{
                    padding: 30px 5% 0px 5% !important;
                    text-align: center;
                }

                td[class="no-pad"]{
                    padding: 0 0 0px 0 !important;
                }

                td[class="no-padding"]{
                    padding: 0 !important;
                }

                td[class="section-padding"]{
                    padding: 10px 15px 10px 15px !important;
                }

                td[class="section-padding-bottom-image"]{
                    padding: 10px 15px 0 15px !important;
                }

                /* ADJUST BUTTONS ON MOBILE */
                td[class="mobile-wrapper"]{
                    padding: 10px 5% 15px 5% !important;
                }

                table[class="mobile-button-container"]{
                    margin:0 auto;
                    width:100% !important;
                }

                a[class="mobile-button"]{
                    width:80% !important;
                    padding: 15px !important;
                    border: 0 !important;
                    font-size: 16px !important;
                }

            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;" bgcolor="#ffffff" align="center">

        <!-- PREHEADER -->


        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_headerBlock_3">
            <tbody>
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 20px 15px 20px 15px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                            <!-- LOGO/Title TEXT -->
                            <tbody>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" style="padding: 0;" class="mobile-wrapper">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="30%" class="responsive-table" align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td bgcolor="#ffffff">
                                                                        <a target="_new" href="http://www.sklep.silesiatech.pl">
                                                                            <img alt="Strona główna" image-droppable="" width="150" class="img-max" border="0" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #3F3D33; font-size: 16px;" src="http://sklep.miuze.pl/bundles/miuzepage/gfx/logo-main.png">
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="60%" class="responsive-table" align="right">
                                                            <tbody>
                                                                <tr>
                                                                    <td bgcolor="#ffffff" align="center">
                                                                        <table border="0" cellpadding="0" cellspacing="0"><tbody><tr>
                                                                                    <td align="center" style="padding: 10px 0 0 0px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33; text-decoration: none;"><span style="color: #3F3D33; text-decoration: none;">SILESIA TECH</span></td>
                                                                                </tr></tbody></table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_onecolumnBlock_4">
            <tbody>
                <tr class="row-a">
                    <td bgcolor="#EDE8DA" align="center" class="section-padding" style="padding-top: 30px; padding-left: 15px; padding-bottom: 30px; padding-right: 15px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <!-- COPY -->
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" class="padding-copy" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33; padding-top: 0px;">
                                                                        OFERTA ST-{{ offer.id }}
                                                                    </td>
                                                                </tr>
                                                                {% if offer.content is not null %}
                                                                <tr>
                                                                    <td align="center" class="padding-copy textlightStyle" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;">
                                                                        {{ offer.content| raw }}
                                                                    </td>
                                                                </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <!-- BULLETPROOF BUTTON -->
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                                                        <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a target="_new" class="mobile-button" style="display: inline-block; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #00a0e3; padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #036f9c;" href="http://sklep.silesiatech.pl">
                                                                                            Sklep online →
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        {% if offer.productItems is not empty %}
            {% for product in offer.productItems %}
                {% if loop.index is odd %}
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticleBlock_5">
                        <tbody>
                            <tr class="row-a">
                                <td bgcolor="#00a0e3" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding: 40px 0 0 0;" class="mobile-hide">
                                                    <img alt="{{ product.product.name }}" width="105" border="0" style="display: block; font-family: Arial; color: #3F3D33; font-size: 14px; width: 105px;" src="http://sklep.miuze.pl/{{ product.product.path ~ product.product.image }}">
                                                </td>
                                                <td style="padding: 40px 0 0 0;" class="no-padding">
                                                    <!-- ARTICLE -->
                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" class="padding-meta" style="padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff;">
                                                                    {{ product.product.category.name }} | ilość: {{ product.quantity }}szt | cena za sztukę : {{ product.price }}zł netto 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="padding-copy" style="padding: 0 0 5px 25px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff;">
                                                                    {{ product.product.name }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="padding-copy articletextintenseStyle" style="padding: 10px 0 15px 25px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;">
                                                                    <p style="margin-top:0px" data-mce-style="margin-top: 0px;">
                                                                        {{ product.product.lead |raw }}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 0 0 45px 25px;" align="left" class="padding">
                                                                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <!-- BULLETPROOF BUTTON -->
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" style="padding: 0;" class="padding-copy">
                                                                                                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="center">
                                                                                                                    <a target="_new" class="mobile-button" style="display: inline-block; font-size: 15px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33; text-decoration: none; background-color: #EDE8DA; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #d9ceb1;" href="{{ absolute_url(path('product_read', {'pageid': product.product.category.page[0].id, 'id': product.product.id, 'title': product.product.urlTitle })) }}">
                                                                                                                        Zobacz produkt w sklepie →
                                                                                                                    </a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticlerightBlock_6">
                        <tbody>
                            <tr class="row-a">
                                <td bgcolor="#EDE8DA" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 40px 0 0 0;" class="no-padding">
                                                    <!-- ARTICLE -->
                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" class="padding-meta" style="padding: 0 25px 5px 0px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;">
                                                                    {{ product.product.category.name }} | ilość: {{ product.quantity }}szt | cena za sztukę : {{ product.price }}zł netto 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" class="padding-copy" style="padding: 0 25px 5px 0px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;">
                                                                    {{ product.product.name }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" class="padding-copy articletextlightStyle" style="padding: 10px 25px 15px 0px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;">
                                                                    <p style="margin-top:0px" data-mce-style="margin-top: 0px;">
                                                                        {{ product.product.lead |raw }}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 0 25px 45px 0px;" align="right" class="padding">
                                                                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <!-- BULLETPROOF BUTTON -->
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" style="padding: 0;" class="padding-copy">
                                                                                                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="center">
                                                                                                                    <a target="_new" class="mobile-button" style="display: inline-block; font-size: 15px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #00a0e3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 3px; border-bottom: 3px solid #036f9c; -webkit-border-radius: 3px; -moz-border-radius: 3px;" href="{{ absolute_url(path('product_read', {'pageid': product.product.category.page[0].id, 'id': product.product.id, 'title': product.product.urlTitle })) }}">
                                                                                                                        Zobacz produkt w sklepie →
                                                                                                                    </a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top" style="padding: 40px 0 0 0;" class="mobile-hide">
                                                    <img alt="{{ product.product.name }}" width="105" border="0" style="display: block; font-family: Arial; color: #3F3D33; font-size: 14px; width: 105px;" src="http://sklep.miuze.pl/{{ product.product.path ~ product.product.image }}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- FOOTER -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 500px;" id="ko_footerBlock_2">
            <tbody>
                <tr>
                    <td bgcolor="#ffffff" align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td style="padding: 20px 0px 20px 0px;">
                                        <!-- UNSUBSCRIBE COPY -->
                                        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="middle" style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;">
                                                        <span class="appleFooter" style="color: #3F3D33;">
                                                            Silesia-Tech<br/>
                                                            ul. 3 Maja 69/2<br/>
                                                            44-230 Czerwionka-Leszczyny
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr style="text-align: center;">
                                                    <td>
                                                        <a target="_new" style=";" href="http://sklep.miuze.pl">
                                                            <img border="0" hspace="0" vspace="0" src="http://sklep.miuze.pl/bundles/miuzepage/gfx/logo-main.png" alt="MOSAICO Responsive Email Designer" style="margin-top: 10px;">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
