{% extends "MiuzeAdminBundle:EmailTemplate:base.html.twig" %}
{% block header %}Zamówienie ze strony{% endblock %}
{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Zamówienie 
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>od: {{ order.name }} <br> {{ order.address }}<br>{{ order.phone }}</p>
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>Produkty:</p>
        <ul>
            {% if order.products is not empty %}
                {% for item in order.products %}
                    <li>{{ item.name }} <a href="http://zdrowaprzekaska.pl{{ path('product_read', {'pageid': 3, 'id': item.id, 'title': item.urlTitle}) }}">podgląd produktu</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>Wiadomość:</p>
        <p>{{ order.message |raw }}</p>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}