{% extends "MiuzeAdminBundle:EmailTemplate:base.html.twig" %}
{% block header %}Rezerwacja on-line{% endblock %}
{% block content %}

    
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 15px; color: #484848;">
        <p>Dane zamawiającego:</p>
        <ul>
            <li>Data przybycia {{ save.startDate |date('d-m-Y') }}</li>
            <li>Data wyjazdu {{ save.endDate |date('d-m-Y') }}</li>
            <li>email: {{ save.email }}</li>
        </ul>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}