<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj klienta</h4>
            </div>
            <div class="modal-body overauto">
                <div class="msg-ajax">
                    {% if msg is not null %}
                        <div class="alert alert-danger">{{ msg }}</div>
                    {% endif %}
                </div>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.companyName) }}
                        {{ form_widget(form.companyName) }}
                        {{ form_errors(form.companyName) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.nip) }}
                        {{ form_widget(form.nip) }}
                        {{ form_errors(form.nip) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.postCode) }}
                        {{ form_widget(form.postCode) }}
                        {{ form_errors(form.postCode) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.street) }}
                        {{ form_widget(form.street) }}
                        {{ form_errors(form.street) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.homeNumber) }}
                        {{ form_widget(form.homeNumber) }}
                        {{ form_errors(form.homeNumber) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.plainPassword) }}
                        {{ form_widget(form.plainPassword) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.accountExpired) }}
                        {{ form_widget(form.accountExpired) }}
                        {{ form_errors(form.accountExpired) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.accountLocked) }}
                        {{ form_widget(form.accountLocked) }}
                        {{ form_errors(form.accountLocked) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.credentialsExpired) }}
                        {{ form_widget(form.credentialsExpired) }}
                        {{ form_errors(form.credentialsExpired) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.enabled) }}
                        {{ form_widget(form.enabled) }}
                        {{ form_errors(form.enabled) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles) }}
                        {{ form_errors(form.roles) }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-lg'} }) }}
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>
<script>
    var frm = $('#form-add-buyer');
    frm.submit(function (ev) {
        ev.preventDefault();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if(data.status === 'success') {
                    $('.msg-ajax').html('<div class="alert alert-success">' + data.msg + '</div>');
                    $('#order_buyer').append('<option value="' + data.id + '">' + data.name + '</option>');
                    $('#order_buyer').trigger("chosen:updated");
                    setTimeout(function(){
                        $(".modal").modal('hide');
                        $(".modal-backdrop").remove();
                    }, 1500);
                }else{
                    $('.modal-box').html(data);
                    $(".modal").modal('show');
                }
            }
        });
    });

</script>