{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Szczegóły zamówienia
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <table class="table table-hover table-responsive">
                <tbody>
                    <tr>
                        <th>id</th>
                        <td>{{ item.id }}</td>
                    </tr>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <td>{{ item.buyer.firstName ~ ' ' ~ item.buyer.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Data tranzakcji</th>
                        <td>{{ item.createDate | date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Miejscowość</th>
                        <td>{{ item.buyer.city ~ ' ' ~ item.buyer.postCode }}</td>
                    </tr>
                    <tr>
                        <th>Adres</th>
                        <td>{{ item.buyer.street ~ ' ' ~ item.buyer.homeNumber}}</td>
                    </tr>
                    <tr>
                        <th>Teleon / email</th>
                        <td>{{ item.buyer.phone is null ? 'brak' : item.buyer.phone }} / {{ item.buyer.email is null ? 'brak' : item.buyer.email }}</td>
                    </tr>
                    {% if item.travel is not null %}
                    <tr>
                        <th>Dostawa</th>
                        <td>{{ item.travel.name ~ ' ' ~ item.travel.price }} zł</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Status przygotowania</th>
                        <td>{{ item.status == true ? 'Wysłane' : 'W przygotowaniu'}}</td>
                    </tr>
                    <tr>
                        <th>Status zlecenia</th>
                        <td>{{ item.close == true ? 'Zamknięte' : 'W przygotowaniu'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% if item.close == false %}
                <a href="{{ path('admin_cart_close', {'id': item.id, 'status': 1}) }}" title="Zakończ" class="btn btn-danger">Zakończ</a>
            {% else %}
                <a href="{{ path('admin_cart_close', {'id': item.id, 'status': 0}) }}" title="Przywróć zgłoszenie" class="btn btn-success">Przywróć zgłoszenie</a>
            {% endif %}
            {% if item.status == false %}
                <a href="{{ path('admin_cart_ready', {'id': item.id, 'status': 1}) }}" title="Do wysyłki" class="btn btn-danger">Do wysyłki</a>
            {% else %}
                <a href="{{ path('admin_cart_ready', {'id': item.id, 'status': 0}) }}" title="Wysłane" class="btn btn-success">Wysłane</a>
            {% endif %}
            <a href="{{ path('admin_cart_order-delete', {'id': item.id}) }}" class="btn btn-danger pull-right confirm">Usuń zgłoszenie</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Nazwa produktu</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Zobacz produkt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in item.carts %}
                        <tr>
                            {% if order.product is not null %}
                                <td>{{ order.product.name }} z kategorii {{ order.product.category.name }}</td>
                                <td>{{ order.quantity }} szt</td>
                                <td>{{ order.product.calcVat(item.buyer) |number_format(2, ' ', ',')}} zł</td>
                                <td><a href="{{ path('product_read', {'pageid': order.product.category.page[0].id, 'id': order.product.id, 'title': order.product.urlTitle}) }}" title="Zobacz produkt" class="btn btn-info">Zobacz</a></td>
                            {% else %}
                                <td colspan="4">Produkt usunięty ze sklepu</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}