{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Lista zamówień online
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% if pagination is empty %}
            <div class="item-list">
                <article>
                    <p>Brak zamówień</p>
                </article>
            </div>
        {% else %}
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Nazwisko i imię', 'buyer.lastName') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Data tranzakcji', 'c.createDate') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Email / telefon', 'buyer.email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Wysyłka', 'c.status') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status', 'c.close') }}</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pagination %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.buyer.lastName ~ ' ' ~ item.buyer.firstName }}</td>
                                <td>{{ item.createDate | date('d-m-Y') }}</td>
                                <td>{{ item.buyer.phone is null ? 'brak' : item.buyer.phone }} / {{ item.buyer.email is null ? 'brak' : item.buyer.email }}</td>
                                <td>{{ item.status  == false ? 'Kompletowane': 'Wysłane' }}</td>
                                <td>{{ item.close == false ? 'W realizacji' : 'Zakończone' }}</td>
                                <td>
                                    {% if item.close == false %}
                                        <a href="{{ path('admin_cart_close', {'id': item.id, 'status': 1}) }}" title="Zakończ" class="btn btn-danger">Zakończ</a>
                                    {% else %}
                                        <a href="{{ path('admin_cart_close', {'id': item.id, 'status': 0}) }}" title="Przywróć zgłoszenie" class="btn btn-success">Przywróć zgłoszenie</a>
                                    {% endif %}
                                    {% if item.status == false %}
                                        <a href="{{ path('admin_cart_ready', {'id': item.id, 'status': 1}) }}" title="Do wysyłki" class="btn btn-danger">Do wysyłki</a>
                                    {% else %}
                                        <a href="{{ path('admin_cart_ready', {'id': item.id, 'status': 0}) }}" title="Wysłane" class="btn btn-success">Wysłane</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div class="pagination">
                {{ knp_pagination_render(pagination, 'MiuzeAdminBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock content %}