{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-newspaper-o"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> Dodaj zamówienie
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 list">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <fieldset>
                    <legend>{{ form_label(form.buyer) }}</legend>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        {{ form_widget(form.buyer) }}
                        {{ form_errors(form.buyer) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <a href="#" id="add-another-buyer" class="btn btn-success pull-right" data-form="{{ path('admin_cart_buyer-add') }}">Dodaj nowego klienta</a>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Produkty</legend>
                    <ul id="product-fields-list" data-prototype="{{ form_widget(form.carts.vars.prototype)|e }}">
                        {% for products in form.buyer %}
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                {{ form_label(products.product) }}
                                {{ form_widget(products.product) }}
                                {{ form_errors(products.product) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                {{ form_label(products.quantity) }}
                                {{ form_widget(products.quantity) }}
                                {{ form_errors(products.quantity) }}
                            </div>
                        {% endfor %}
                    </ul>
                    <a href="#" id="add-another-product" class="btn btn-success">Dodaj nowy produkt</a>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <fieldset>
                    <legend>{{ form_label(form.travel) }}</legend>
                    {{ form_widget(form.travel) }}
                    {{ form_errors(form.travel) }}
                </fieldset>
                <fieldset>
                    <legend>{{ form_label(form.payment) }}</legend>
                    {{ form_widget(form.payment) }}
                    {{ form_errors(form.payment) }}
                </fieldset>
                <fieldset>
                    <legend>Akcje</legend>
                    {{ form_widget(form.submit) }}
                </fieldset>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock content %}

{% block js %}
    <script src="{{ asset('bundles/miuzeadmin/js/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/miuzeadmin/js/chosen/chosen.proto.min.js') }}"></script>
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var productCount = '{{ form.carts|length }}';
        $('.chosen-select').chosen({});

        $(document).ready(function() {
            $('#add-another-product').click(function(e) {
                e.preventDefault();

                var emailList = $('#product-fields-list');

                var newWidget = emailList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, productCount);
                newWidget = newWidget+'<span class="btn-remove btn btn-danger" data-del="order_carts_'+productCount+'">Usuń</span>';
                var newLi = $('<li></li>').html(newWidget);
                productCount++;
                newLi.appendTo(emailList);
                $('.chosen-select').chosen({});
                $('.btn-remove').on('click', function(){
                    console.log('click');
                    var idName = $(this).data('del');
                    console.log(idName);
                    console.log($('#'+idName));
                    $('#'+idName).parent().remove();
                });
            });


            $('#add-another-buyer').on('click', function(e){
                e.preventDefault();
                var url = $(this).data('form')
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('.modal-box').html(data);
                        $(".modal").modal('show');
                    }
                });
            })
        })
    </script>
{% endblock js %}