{% extends "@MiuzeAdmin//base.html.twig"%}
{% block content %}
    
    <div class="col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-header">
                Zamówienia
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {#<div class="pull-right">
                <form method="post" style="visibility: hidden;" id="formSort" action="{{ path('admin_pages_sort')}}">
                    <input type="hidden" name="sort" id="sort" value="" />
                </form>
                    <button type="submit" class="btn btn-warning sortdata">Zapisz kolejność</button>
                {% set menu = app.request.get('menu') %}
                <a href="{{ path('admin_pages_add', {'menu': menu } ) }}" class="btn btn-success">Dodaj stronę</a></li>
            </div>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Zamówienia
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Transport
                </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 list">
        {% if list is empty %}
            <div class="item-list">
                <article>
                    <p>Brak opcji</p>
                </article>
            </div>
        {% else %}            
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }} zł</td>
                            <td>
                                <a href="{{ path('admin_cart_travel-list', {'id': item.id}) }}" title="Edytuj" class="fa fa fa-pencil-square-o"></a>
                                <a href="{{ path('admin_cart_travel-delete', {'id': item.id}) }}" title="Usuń" class="fa fa fa-remove confirm"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
                <fieldset>
                    <legend>Kategoria</legend>  
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}                                  
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                    {{ form_errors(form.price) }}  
                    {{ form_widget(form.submit) }} 
                </fieldset>
        {{ form_end(form)}}
    </div>
{% endblock content %}