<script src="{{ asset('bundles/miuzeadmin/js/libs.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/filemanager/plugin.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/jquery.mCustomScrollbar.js') }}"></script>
<script src="{{ asset('bundles/miuzeadmin/js/app.js') }}"></script>