
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/pages/list">
            <img style="height: 30px;" src="{{ asset('bundles/miuzeuser/gfx/logo-w.png')}}" alt="logo"/>
        </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li>{{ lang() }}</li>
        {% if app.user is not null %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.firstName is not null ? app.user.firstName ~' '~ app.user.lastName : app.user.email }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('user_user_manage', {'id': app.user.id}) }}"><i class="fa fa-fw fa-gear"></i> Ustawienia</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path('_logout') }}"><i class="fa fa-fw fa-power-off"></i> Wyloguj</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
