
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        {% set route = app.request.get('_route') %}
        {% set menu = get_admin_menu() %}
        {% for key, item in menu %}
                <li class="">
                    <a href="javascript:;" data-toggle="collapse" data-parent="#mCSB_1_container" data-target="#{{ key }}"><i class="{{ item.icon }}"  aria-hidden="true"></i> {{ item.title }} <i class="fa fa-fw fa-caret-down"></i></a>
                    {% if item.links is not empty %}
                        <ul id="{{ key }}"
                            class="collapse
                            {% for link in item.links %}
                               {{ link["url"] == route ? ' in' : '' }}
                            {% endfor %}
                            ">
                            {% for link in item.links %}
                                <li {{ link["url"] == route ? 'class="expand"' ? '' }}>
                                    <a href="{{ path(link["url"])}}">{{ link["name"] }}</a>
                                </li>
                            {% endfor%}
                        </ul>
                    {% endif %}
                </li>
        {% endfor %}
    </ul>
</div>
