{% extends "@MiuzePage/common/content.html.twig" %}
{% block pageTitle %}
    {{ parent()}} |{{ page.slug.name}}
{% endblock pageTitle %}
{% block content %}
    <div class="container">
        {% if error is not empty or error is not null %}
            <div class="alert alert-danger">
                {% for msg in error %}
                    {{ msg }},
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}     

                <div class="col-sx-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6"> 
                    {{ form_label(form.zlecenie) }}
                    {{ form_widget(form.zlecenie) }}
                    {{ form_errors(form.zlecenie) }}

                    {{ form_label(form.rok) }}
                    {{ form_widget(form.rok) }}
                    {{ form_errors(form.rok) }}
                    
                    {{ form_label(form.klient) }}
                    {{ form_widget(form.klient) }}
                    {{ form_errors(form.klient) }}
                </div>
                {% if list is not empty or list is not null %}
                <div class="col-sx-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6"> 
                    <div class="alert alert-success">
                        {{ list }}
                    </div>
                </div>
                {% endif %}

            {{ form_end(form)}}
        </div>
    </div>
    
{% endblock content %}